!!!
%html{style: "font-family:'Helvetica-Neue', 'Helvetica', sans-serif;"}
  %head
    %meta(http-equiv="Content-Type" content="text/html;charset=utf-8")

  %body
    %p
      %strong= t('mail.deletion.time')
      = l @time, format: :date_time

    %p
      %strong= t('mail.deletion.object')
      = @object[:presentation]

    - if @object[:tasks].present?
      %p
        %strong= t('mail.deletion.tasks')
        = @object[:tasks]

    %p
      %strong= t('mail.deletion.user')
      = @user