= simple_form_for @gift_certificate, html: { class: 'form-horizontal' } do |f|
  = f.error_notification

  .form-inputs
    = f.input :nominal, input_html: {min: 1_000, max: 100_000, step: 1_000}
    = f.input :number

    - unless @gift_certificate.new_record?
      = f.input :status, collection: GiftCertificate::STATUSES, value_method: lambda{|s|GiftCertificate::STATUSES.index(s)}, label_method: lambda{|s|t("gift_certificates.statuses.#{s}")}

      = f.input :consumed

  .form-actions
    = submit_button f
