= simple_form_for @gift_certificate, html: { class: 'form-horizontal' } do |f|
  = f.error_notification

  .form-inputs
    = f.input :number, input_html: {autofocus: true}
    = f.input :nominal, collection: GiftCertificate::NOMINALS,
                        value_method: lambda{|n|GiftCertificate::NOMINALS.index(n)},
                        label_method: lambda{|n|t("gift_certificates.nominals.#{n}")}

    - unless @gift_certificate.new_record?
      = f.input :status, collection: GiftCertificate::STATUSES,
                         value_method: lambda{|s|GiftCertificate::STATUSES.index(s)},
                         label_method: lambda{|s|t("gift_certificates.statuses.#{s}")}

  .form-actions
    = submit_button f
