#gift_certificate_form
  - if @error.blank?
    - if @operation == 'check'
      .modal-header= t "gift_certificates.index.#{@operation}"
      .modal-body
        #gift_certificate_status= "#{GiftCertificate.human_attribute_name(:status)}: #{@gift_certificate.status_h}"
        - if @gift_certificate.issued?
          #gift_certificate_nominal= "#{GiftCertificate.human_attribute_name(:nominal)}: #{@gift_certificate.nominal_h}"
          #gift_certificate_consumed= "#{GiftCertificate.human_attribute_name(:consumed)}: #{number_to_currency(@gift_certificate.consumed || 0, precision: 0)}"
          #gift_certificate_balance= "#{t('gift_certificates.balance')}: #{number_to_currency (@gift_certificate.balance), precision: 0}"
          #gift_certificate_history.well.well-small= gift_certificate_history_tag @gift_certificate
    - else
      = form_for @gift_certificate, url: @form_path, method: :post, class: 'form-inline' do |f|
        .modal-header= t "gift_certificates.index.#{@operation}"
        .modal-body
          #gift_certificate_nominal= "#{GiftCertificate.human_attribute_name(:nominal)}: #{@gift_certificate.nominal_h}"
          - unless @operation == 'issue'
            #gift_certificate_consumed= "#{GiftCertificate.human_attribute_name(:consumed)}: #{number_to_currency(@gift_certificate.consumed || 0, precision: 0)}"
            #gift_certificate_balance= "#{t('gift_certificates.balance')}: #{number_to_currency (@gift_certificate.balance), precision: 0}"
          %br
          = hidden_field_tag :number, @gift_certificate.number
          - if @operation == 'activate'
            = number_field_tag :consume, nil, placeholder: t('gift_certificates.consume_placeholder'), autofocus: true
        .modal-footer
          = submit_tag t('gift_certificates.submit'), class: 'btn btn-primary'

  - else
    .modal-header= t "gift_certificates.index.#{@operation}"
    .modal-body
      .error= @error
