= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
%table.table.table-striped.table-hover
  %thead
    %tr
      %th= sortable 'id', GiftCertificate.human_attribute_name(:id)
      %th= GiftCertificate.human_attribute_name :number
      %th= sortable 'nominal', GiftCertificate.human_attribute_name(:nominal)
      %th= GiftCertificate.human_attribute_name(:consumed)
      %th= sortable 'status', GiftCertificate.human_attribute_name(:status)
      %th= sortable 'updated_at', GiftCertificate.human_attribute_name(:updated_at)
      %th= sortable 'created_at', GiftCertificate.human_attribute_name(:created_at)
      - if can? :manage, GiftCertificate
        %th
  %tbody= render @gift_certificates
  -#- @gift_certificates.each do |gift_certificate|

= paginate @gift_certificates, remote: true
