%table#ready_devices_table.table.table-hover.table-bordered
  %thead
    %tr
      %th= t 'dashboard.moved_title'
      %th= DeviceTask.human_attribute_name(:device)
      %th= Device.human_attribute_name(:client)
      %th= Device.human_attribute_name(:done_at)
      %th
  %tbody
    - @devices.each do |device|
      = ready_device_row_tag device

= paginate @devices, remote: true
