.page-header
  = link_to_new Device, t('.new_device') if can? :receive, Device

- if @device_tasks.any?
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= Task.human_attribute_name :name
        %th= DeviceTask.human_attribute_name :device
        %th= Device.human_attribute_name :client
        %th= DeviceTask.human_attribute_name :comment
        %th= t 'device.moved_at'
        %th= t 'device.moved_by'
    %tbody
      - @device_tasks.each do |device_task|
        %tr
          %td= device_task.task_name
          %td= link_to device_task.device_presentation, edit_device_path(device_task.device)
          %td= device_task.client_presentation
          %td= device_task.comment
          %td= device_moved_at device_task.device
          %td= device_moved_by device_task.device
- else
  = render 'shared/empty'
