.table_filter.navbar.container
  .navbar-inner

    = form_tag dashboard_path(tab: 'actual_tasks'), method: 'get', id: 'search_form', class: 'navbar-search form-search', remote: true do

      .input-append
        = text_field_tag :device, params[:device], id: 'search_device_input', class: 'search-query input-medium',
            placeholder: 'ticket or serial number'
        %span.add-on.btn.clear_search_input
          %i.icon-remove

      .input-append
        = text_field_tag :client, params[:client], id: 'search_client_input', class: 'search-query input-medium',
            placeholder: 'client (name or phone)'
        %span.add-on.btn.clear_search_input
          %i.icon-remove

%table#actual_tasks_table.table.table-hover.table-bordered
  %thead
    %tr
      %th= t 'dashboard.moved_title'
      %th= "#{DeviceTask.human_attribute_name(:device)} / #{DeviceTask.human_attribute_name :task}"
      %th= "#{Device.human_attribute_name(:client)} / #{DeviceTask.human_attribute_name :comment}"
      %th
  %tbody
    - @devices.each do |device|
      - device_tasks = device.device_tasks
      = device_row_tag device
      - device_tasks.each do |device_task|
        = device_task_row_tag device_task

= paginate @devices, remote: true
