= paginate @devices, remote: true
%table#actual_tasks_table.table.table-hover.table-bordered
  %thead
    %tr
      %th= t 'dashboard.moved_title'
      %th= "#{DeviceTask.human_attribute_name(:device)} / #{DeviceTask.human_attribute_name :task}"
      %th= "#{Device.human_attribute_name(:client)} / #{DeviceTask.human_attribute_name :comment}"
      %th
  %tbody
    - @devices.each do |device|
      - device_tasks = device.device_tasks
      = device_row_tag device
      - device_tasks.each do |device_task|
        = device_task_row_tag device_task

= paginate @devices, remote: true
