= paginate @service_jobs, remote: true
%table#actual_tasks_table.table.table-hover.table-bordered
  %thead
    %tr
      %th= t 'dashboard.moved_title'
      %th= "#{DeviceTask.human_attribute_name(:service_job)} / #{DeviceTask.human_attribute_name :task}"
      %th= "#{ServiceJob.human_attribute_name(:client)} / #{DeviceTask.human_attribute_name :comment}"
      %th
  %tbody
    - @service_jobs.each do |service_job|
      - device_tasks = service_job.device_tasks
      = service_job_row_tag service_job
      - device_tasks.each do |device_task|
        = device_task_row_tag device_task
      %tr.empty_row
        %td{colspan: 4}

= paginate @service_jobs, remote: true
