%h4
  %ul#dashboard_navigation.nav.nav-pills
    - if current_user.marketing?
      %li.actual_orders_nav.active= link_to t('dashboard.actual_orders'), actual_orders_path, remote: true
    - else
      - if current_user.any_admin?
        %li.dropdown.actual_tasks_nav.active
          = link_to '#', 'data-toggle' => 'dropdown' do
            = t('dashboard.actual_tasks')
            %span.devices_location= ". #{@location_name}" if @location_name.present?
            %b.caret
          %ul.dropdown-menu
            %li= link_to t('everywhere'), actual_tasks_path, remote: true
            %li.divider
            - Location.find_each do |location|
              %li= link_to location.name, actual_tasks_path(location: location.id), remote: true
      - else
        %li.actual_tasks_nav.active= link_to t('dashboard.actual_tasks'), actual_tasks_path, remote: true
        - if current_user.technician?
          %li.actual_orders_nav= link_to t('dashboard.actual_orders'), actual_orders_path, remote: true
        - if current_user.driver?
          %li.actual_requests_nav= link_to t('dashboard.actual_requests'), actual_supply_requests_path, remote: true
      %li.ready_service_jobs_nav= link_to t('dashboard.ready_service_jobs'), ready_service_jobs_path, remote: true
      %li.all_service_jobs_nav= link_to t('dashboard.all_service_jobs'), service_jobs_path

#dashboard_table_filter= render @table_name+'_filter'
#dashboard_content= render @table_name