#reports_filter.navbar.container
  .navbar-inner
    = form_tag reports_path, method: :get, class: 'navbar-form form-search' do
      %button.btn.btn-info.btn-small
        %i.icon-filter
      = text_field_tag :start_date, @start_date.strftime('%d.%m.%Y'), class: 'datepicker input-small',
          data: {'date-language' => 'ru', 'date-format' => 'dd.mm.yyyy', 'date-weekstart' => 1}
      = '_'
      = text_field_tag :end_date, @end_date.strftime('%d.%m.%Y'), class: 'datepicker input-small',
          data: {'date-language' => 'ru', 'date-format' => 'dd.mm.yyyy', 'date-weekstart' => 1}

#reports_tables
  %table#device_types_reports.table.table-bordered.table-hover
    %thead
      %tr
        %th.center{rowspan: 2}= Device.human_attribute_name :device_type
        %th.center{rowspan: 2}= t('reports.received')
        %th.center{colspan: 2}= t('reports.includes')
      %tr
        %th.center= t('reports.received_done')
        %th.center= t('reports.received_archived')
    %tbody
      - @report[:device_types].each do |device_type|
        %tr
          %td= device_type[:name]
          %td= device_type[:qty]
          %td= device_type[:qty_done]
          %td= device_type[:qty_archived]
    %tfoot
      %tr
        %td= t('reports.total')
        %td= @report[:devices_received_count]
        %td= @report[:devices_received_done_count]
        %td= @report[:devices_received_archived_count]

  %table#users_report.table.table-bordered.table-hover
    %thead
      %tr
        %th.center{rowspan: 2}= Device.human_attribute_name :user
        %th.center{rowspan: 2}= t('reports.received')
        %th.center{colspan: 2}= t('reports.includes')
      %tr
        %th.center= t('reports.received_done')
        %th.center= t('reports.received_archived')
    %tbody
      - @report[:users].each do |user|
        %tr
          %td= user[:name]
          %td= user[:qty]
          %td= user[:qty_done]
          %td= user[:qty_archived]
    %tfoot
      %tr
        %td= t('reports.total')
        %td= @report[:devices_received_count]
        %td= @report[:devices_received_done_count]
        %td= @report[:devices_received_archived_count]

  %table#tasks_report.table.table-bordered.table-hover
    %thead
      %tr
        %th= DeviceTask.human_attribute_name :task
        %th= t('reports.sum')
        %th= t 'reports.qty'
        %th= t 'reports.qty_paid'
        %th= t 'reports.qty_free'
    %tbody
      - @report[:tasks].each do |task|
        %tr.task_row
          %td= task[:name]
          %td= link_to number_to_currency(task[:sum], unit: '', precision: 0), '#', class: 'report_task_details'
          %td= task[:qty]
          %td= task[:qty_paid]
          %td= task[:qty_free]
        - task[:devices].each do |device|
          %tr.device_row
            %td.device_name= link_to device[:name], device_path(device[:id])
            %td.task_cost= number_to_currency device[:cost], unit: '', precision: 0
            %td{colspan: 3}
    %tfoot
      %tr
        %td= t('reports.total')
        %td= number_to_currency @report[:tasks_sum], unit: '', precision: 0
        %td= @report[:tasks_qty]
        %td= @report[:tasks_qty_paid]
        %td= @report[:tasks_qty_free]

  %table#clients_report.table.table-bordered.table-hover
    %thead
      %tr
        %th= t 'reports.clients_count'
        %th= t 'reports.new_clients_count'
    %tbody
      %tr
        %td= @report[:clients_count]
        %td= @report[:new_clients_count]
