.modal-header
  %h3= t 'substitute_phones.stock.title'

.modal-body
  #substitute_phones
    - if substitute_phones.any?
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th= SubstitutePhone.human_attribute_name :name
            %th= SubstitutePhone.human_attribute_name :serial_number
            %th= SubstitutePhone.human_attribute_name :imei
            %th
        %tbody
          - substitute_phones.each do |substitute_phone|
            %tr.substitute_phone{'data-id': substitute_phone.id}
              %td.name= substitute_phone.name
              %td.serial_number= substitute_phone.serial_number
              %td.imai= substitute_phone.imei
              %td= link_to t('substitute_phones.stock.select'), '#', class: 'btn', 'data-behaviour': 'select-substitute-phone'

    - else
      = render 'shared/empty'

.modal-footer
  = link_to t('close'), '#', class: 'btn', 'data-dismiss': 'modal'