- model_class = Announcement
= auto_header_tag
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:active)
      %th= model_class.human_attribute_name(:kind)
      %th= model_class.human_attribute_name(:user)
      %th= model_class.human_attribute_name(:content)
      %th= model_class.human_attribute_name(:created_at)
      %th
  %tbody
    - @announcements.each do |announcement|
      %tr
        %td= link_to announcement.id, announcement_path(announcement)
        %td
          %i{class: "change_announce_state_button icon-#{(announcement.active ? 'check' : 'check-empty')}",
              data: {id: announcement.id, state: announcement.active.to_s}}
        %td= announcement.kind
        %td= announcement.user_name
        %td= announcement.content
        %td= l announcement.created_at, format: :date_time
        %td
          .btn-group
            = link_to_edit_small announcement
            = link_to_destroy_small announcement

= paginate @announcements