%h1 Listing revaluations

%table
  %tr
    %th Revaluation act
    %th Product
    %th Price
    %th
    %th
    %th

  - @revaluations.each do |revaluation|
    %tr
      %td= revaluation.revaluation_act
      %td= revaluation.product
      %td= revaluation.price
      %td= link_to 'Show', revaluation
      %td= link_to 'Edit', edit_revaluation_path(revaluation)
      %td= link_to 'Destroy', revaluation, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Revaluation', new_revaluation_path
