%p#notice= notice

%p
  %b Revaluation act:
  = @revaluation.revaluation_act
%p
  %b Product:
  = @revaluation.product
%p
  %b Price:
  = @revaluation.price

= link_to 'Edit', edit_revaluation_path(@revaluation)
\|
= link_to 'Back', revaluations_path
