= simple_form_for @task, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :duration
  = f.input :cost
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), tasks_path, :class => 'btn'
