= simple_form_for @task, html: { class: 'form-horizontal' } do |f|
  - if @task.product.present?
    .control-group
      %label.control-label Продукт
      .controls= link_to @task.product.name, @task.product, target: '_blank'
  = f.input :name
  = f.input :code
  = f.input :role, collection: User::ROLES, value_method: :to_s, label_method: lambda{|role|t("users.roles.#{role}")}
  -# TODO get rid
  = f.input :location_code, collection: Location::CODES
  = f.input :cost
  = f.input :hidden
  .form-actions
    = submit_button f
