= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
- if @tasks.any?

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= Task.human_attribute_name(:id)
        %th= Task.human_attribute_name(:name)
        %th= Task.human_attribute_name(:role)
        %th= Task.human_attribute_name :location
        -#%th= Task.human_attribute_name(:priority)
        %th= Task.human_attribute_name(:cost)
        -#%th= Task.human_attribute_name(:duration)
        %th= Task.human_attribute_name(:created_at)
        %th
    %tbody
      - @tasks.each do |task|
        %tr
          %td= task.id
          %td= task.name
          %td= t "users.roles.#{task.role}"
          %td= task.location_name || '-'
          -#%td= task.priority
          %td= task.cost
          -#%td= task.duration
          %td=l task.created_at, format: :date_time
          %td.btn-group
            = link_to_edit_small task
            = link_to_destroy_small task

  = paginate @tasks
  
- else
  = render 'shared/empty'
