= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
- if @tasks.any?

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= Task.human_attribute_name(:id)
        %th= Task.human_attribute_name(:name)
        %th= Task.human_attribute_name(:priority)
        %th= Task.human_attribute_name(:cost)
        %th= Task.human_attribute_name(:duration)
        %th= Task.human_attribute_name(:created_at)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @tasks.each do |task|
        %tr
          %td= link_to task.id, task_path(task)
          %td= link_to task.name, task_path(task)
          %td= task.priority
          %td= task.cost
          %td= task.duration
          %td=l task.created_at, format: :long_d
          %td.btn-group
            = link_to_edit task
            = link_to_destroy task

  = paginate @tasks
  
- else
  = render 'shared/empty'
