%tr.device_task.fields
  - unless @device.new_record?
    %td= f.check_box :done
  %td= f.select :task_id, Task.all.collect{|t|[t.name,t.id]}, {include_blank: true}, class: 'device_task_task'
  %td= f.number_field :cost, class: 'device_task_cost input-small'
  %td= f.text_area :comment, rows: 3
  %td= link_to_remove_fields f