= simple_form_for @device, html: { class: 'form-horizontal device_form' } do |f|

  = f.full_error :ticket_number

  - if can? :change_client, @device or can? :receive, @device
    = f.input :client_id, as: :client, wrapper_html: {id: 'client_fields'}
  - else
    = f.input :client, as: :string, disabled: true, input_html: {class: 'input-xlarge'}

  - if can? :change_device_type, @device or can? :receive, @device
    = f.input :device_type_id, as: :device_type
  - else
    = f.input :device_type, as: :string, disabled: true, input_html: {class: 'input-xlarge'}

  = f.input :security_code, as: :security_code

  = f.input :imei, wrapper_html: {class: @device.has_imei? ? 'imei_input' : 'imei_input hidden'}

  = f.input :serial_number
  
  = f.input :comment, input_html: {rows: 5}, disabled: (cannot?(:change_device_comment, @device) and cannot?(:receive, @device))

  = f.input :replaced, as: :replaced, disabled: true

  - if can? :change_location, @device or can? :receive, @device
    = f.input :location_id, as: :location, user: current_user
  - else
    = text_field_tag :location, @device.location.try(:full_name), disabled: true, class: 'input-xlarge'

  -if f.error(:device_tasks).present?
    .control-group.required.error
      .controls
        %p= f.full_error :device_tasks, class: 'text-error'

  = render @device.new_record? ? 'device_tasks_fields' : 'device_tasks', f: f

  .form-actions
    = submit_button f
