= simple_form_for @device, html: { class: 'form-horizontal span5' }, defaults: {input_html: {class: 'span12'}} do |f|

  = f.full_error :ticket_number

  .control-group
    = f.label :client, class: 'control-label'
    .controls
      - if can? :change_client, @device or can? :receive, @device
        .input-prepend.input-append
          %span.add-on
            %i.icon-search
          = autocomplete_field_tag :client, @device.try(:client).try(:name_phone), autocomplete_client_phone_number_devices_path,
              id_element: '#device_client_id', placeholder: 'name / phone number', autofocus: true
          = f.hidden_field :client_id
          = link_to new_client_path, id: 'new_client_link', class: 'btn', remote: true do
            %i.icon-plus
          = link_to @device.client.present? ? edit_client_path(@device.client) : '#',
              id: 'edit_client_link', class: 'btn', remote: true do
            %i.icon-edit
      - else
        = text_field_tag :client, @device.client.try(:name_phone), disabled: true, class: 'span12'

  .control-group
    = f.label :device_type, class: 'control-label'
    .controls
      - if can? :change_device_type, @device or can? :receive, @device
        = render 'device_type_field', f: f
      - else
        = text_field_tag :device_type, @device.device_type.try(:full_name), disabled: true, class: 'span12'

  .control-group
    = f.label :security_code
    .controls
      .input-append
        = f.input_field :security_code
        = link_to t('none'), '#', id: 'device_security_code_none', class: 'btn btn-warning'
      -#= f.error :security_code
      = f.full_error :security_code

  = f.input :emei

  -#= f.input :serial_number, disabled: (cannot?(:change_serial_number, @device) and cannot?(:receive, @device))
  
  = f.input :comment, input_html: {rows: 5}, disabled: (cannot?(:change_device_comment, @device) and cannot?(:receive, @device))

  .control-group
    = f.label :replaced
    .controls
      = f.input_field :replaced, disabled: true
      %span.help-inline
        = t('device_types.available_for_replacement') + ': '
        %span#available_for_replacement
          = @device.device_type.available_for_replacement unless @device.new_record?

  .control-group
    = f.label :location, class: 'control-label'
    .controls
      - if can? :change_location, @device or can? :receive, @device
        = render 'location_field', f: f
      - else
        = text_field_tag :location, @device.location.try(:full_name), disabled: true, class: 'span12'

  = render @device.new_record? ? 'device_tasks_fields' : 'device_tasks', f: f

  .form-actions
    = submit_button f
