- device = @device.decorate
.form-header
  = secondary_form_close_button :small
  %h3= t '.title'

.form-body.form-horizontal

  .control-group
    %label.control-label= Item.human_attribute_name :product
    .controls= device.product

  .control-group
    %label.control-label= Item.human_attribute_name :serial_number
    .controls= device.serial_number

  .control-group
    %label.control-label= Item.human_attribute_name :imei
    .controls
      = device.imei
      %br
      = link_to t('.check_imei'), "http://iunlocker.net/check_imei.php?imei=#{device.imei}", target: '_blank' if device.imei.present?

  .control-group
    %label.control-label= t '.sales'
    .controls
      = @device.sale_info
      %br
      - @imported_sales.decorate.each do |sale|
        = sale.presentation

.modal-footer
  = secondary_form_close_button