= simple_form_for @device, html: { class: 'form-horizontal', remote: true } do |f|
  .modal-header
    %a.close{'data-dismiss' => 'modal', href: '#'}
      %i.icon-remove-sign
    %h3
      = @device.type_name

  .modal-body
    = f.input :location_id, collection: Location.allowed_for(current_user, @device)

    %table#device_tasks_small.table.table-bordered.table-condensed.table-hover
      %caption
        %h4= Device.human_attribute_name :tasks
      %thead
        %tr
          %th.task_name_column= DeviceTask.human_attribute_name :task
          %th.task_cost_column= DeviceTask.human_attribute_name :cost
          %th.task_comment_column= DeviceTask.human_attribute_name :comment
      %tbody
        - @device.device_tasks.each do |task|
          %tr.device_task{class: row_class_for_task(task)}
            %td.task_name_column= task.name
            %td.task_cost_column= task.cost
            %td.task_comment_column= task.comment

    = link_to_add_fields t('devices.add_task'), '#device_tasks_small tbody', f, :device_tasks

  .modal-footer
    = submit_button f
