= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
- if @devices.any?

  %table.table.table-hover
    %thead
      %tr
        %th= sortable 'id', Device.human_attribute_name(:id)
        %th= sortable 'ticket_number', Device.human_attribute_name(:ticket_number)
        %th= Device.human_attribute_name(:device)
        %th= Device.human_attribute_name(:client)
        %th= Device.human_attribute_name(:location)
        %th= sortable 'created_at', Device.human_attribute_name(:created_at)
        %th= sortable 'done_at', Device.human_attribute_name(:done_at)
        %th
    %tbody
      - @devices.each do |device|
        %tr{class: row_class_for_device(device)}
          %td= link_to device.id, device_path(device)
          %td= link_to device.ticket_number, device_path(device)
          %td
            = link_to device.type_name, device_path(device)
            %small= device.serial_number
            -#%p.device_comment_tooltip{'data-title' => device.comment}
            -#  %i.icon-comment
          %td= client_presentation device.client
          %td= device.location_name || '-'
          %td= human_datetime device.created_at
          %td
            - if device.done? and device.done_at.present?
              = human_datetime device.done_at
            -#- else
            -#  %span.device_progress.badge{class: progress_badge_class_for_device(device),
            -#      'data-title' => task_list_for(device)}
            -#    = device.progress
          %td
            .btn-group
              = link_to_show_small device
              = link_to_edit_small device# if can? :update, device
              = link_to_destroy_small device if can? :destroy, device

  = paginate @devices
  
- else
  = render 'shared/empty'
