:plain
  if(#{@device_type.has_children?}){
    $('#device_types_list').html("#{j(make_device_types_list(@device_type.children))}");
    $('#device_type_select_button').dropdown('toggle');
  }else{
    $('#device_device_type_id').val("#{@device_type.id}");
    $('#device_type_select_button').attr('disabled','disabled').addClass('btn-success');
    $('#available_for_replacement').text("#{@device_type.available_for_replacement}");
    if(#{@device_type.available_for_replacement} > 0)
      $('#device_replaced').removeAttr('disabled');
    if(#{@device_type.has_imei?}){
      $('.imei_input').removeClass('hidden');
    }else{
      $('#device_imei').val('');
      $('.imei_input').addClass('hidden');
    }
  }
  $('#device_type_name').text("#{@device_type.full_name}");
