:plain
  $('#device_device_type_id').val("#{@device.device_type_id}");
  $('#device_security_code').val("#{@device.security_code}");
  $('#device_imei').val("#{@device.imei}");
  $('#device_serial_number').val("#{@device.serial_number}");
  $('#device_type_name').text("#{@device.device_type.full_name}");
  $('#available_for_replacement').text("#{@device.device_type.available_for_replacement}");
  if(#{@device.device_type.available_for_replacement} > 0){
    $('#device_replaced').removeAttr('disabled');
  }else{
    $('#device_replaced').attr('disabled', 'disabled');
  }
  if(#{@device.has_imei?}){
    $('.imei_input, .tray_input, .carrier_input').removeClass('hidden');
  }else{
    $('#device_imei').val('');
    $('.imei_input, .tray_input, .carrier_input').addClass('hidden');
  }

  $('#client_devices .popover-content').html("#{j(device_tasks_list(@device))}");