.page-header
  %h1
    = t '.title', default: Device.model_name.pluralize
  = link_to_new Device if can? :create, Device
  
.table_filter.navbar.container
  .navbar-inner

    = form_tag devices_path, method: 'get', id: 'search_form', class: 'navbar-search form-search', remote: true do

      = hidden_field_tag :status, params[:status]
      = hidden_field_tag :location, params[:location]

      .input-append
        = text_field_tag :ticket, params[:ticket], id: 'search_ticket_input', class: 'search-query input-large',
            placeholder: Device.human_attribute_name(:ticket_number)
        %span.add-on.btn.clear_search_input
          %i.icon-remove
      
      .input-append
        = text_field_tag :device, params[:device], id: 'search_device_input', class: 'search-query input-large',
            placeholder: t('devices.index.device_search_placeholder')
        %span.add-on.btn.clear_search_input
          %i.icon-remove
    
      .input-append
        = text_field_tag :client, params[:client], id: 'search_client_input', class: 'search-query input-large',
            placeholder: t('devices.index.client_search_placeholder')
        %span.add-on.btn.clear_search_input
          %i.icon-remove

    %ul.nav
      %li.dropdown
        = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
          = t (params[:status].present? ? params[:status] : t('devices.status.all'))
          %b.caret
        %ul.dropdown-menu
          %li= link_to t('devices.status.all'), devices_path#, remote: true
          %li= link_to t('devices.status.done'), devices_path(status: 'done')#, remote: true
          %li= link_to t('devices.status.pending'), devices_path(status: 'pending')#, remote: true
          %li= link_to t('devices.status.important'), devices_path(status: 'important')#, remote: true

    %ul.nav
      %li.dropdown
        = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
          = (@location_name || t('everywhere')).html_safe
          %b.caret
        %ul.dropdown-menu
          %li= link_to t('everywhere'), devices_path#, remote: true
          - @locations.each do |location|
            %li= link_to location.full_name, devices_path(location: location)#, remote: true

#resource_table= render 'table'
