.page-header
  %h1
    = link_back_to_index
    = @device.type_name
    %small= history_link_to history_device_path(@device)

  %span.help-block
    %small= timestamp_string_for @device
  = link_to icon_tag(:print) + t('ticket.link'), device_path(@device, format: 'pdf'), class: 'btn btn-info', target: '_blank'
  -#= link_to '#', target: '_blank', class: 'btn btn-info' do
  -#  %i.icon-file-alt
  -#  = t 'agreement'

%dl.dl-horizontal

  %dt= Device.human_attribute_name :ticket_number
  %dd= @device.ticket_number

  %dt= Device.human_attribute_name :security_code
  %dd= @device.security_code.present? ? @device.security_code : '-'

  %dt= Device.human_attribute_name :imei
  %dd= @device.imei.present? ? @device.imei : '-'

  %dt= Device.human_attribute_name :serial_number
  %dd= @device.serial_number.present? ? @device.serial_number : '-'

  %dt= Device.human_attribute_name :client_id
  %dd= @device.client.name_phone

  %dt= Device.human_attribute_name :comment
  %dd= @device.comment.present? ? @device.comment : '-'

  %dt= Device.human_attribute_name :location
  %dd= @device.location_name

%table.table.table-bordered.table-condensed.table-hover
  %caption
    %h4= Device.human_attribute_name :tasks
  %thead
    %tr
      %th= Task.human_attribute_name :name
      %th= DeviceTask.human_attribute_name :comment
      %th= Task.human_attribute_name :duration
      %th= DeviceTask.human_attribute_name :cost
      %th= DeviceTask.human_attribute_name :done_at
      %th= DeviceTask.human_attribute_name :created_at
      %th= DeviceTask.human_attribute_name :updated_at
      %th
  %tbody
    - @device.device_tasks.ordered.each do |device_task|
      %tr{class: row_class_for_task(device_task)}
        %td= device_task.task_name
        %td
          %p.device_comment_tooltip{'data-title' => device_task.comment}
            = h device_task.comment.truncate(30, separator: ' ')
        %td= device_task.task_duration
        %td.align_right= device_task.cost
        %td= l device_task.done_at, format: :long_d unless device_task.done_at.blank?
        %td= l device_task.created_at, format: :long_d
        %td= l device_task.updated_at, format: :long_d
        %td{style: "background:none;"}
          = history_link_to history_device_task_path(@device, device_task)
  %tfoot
    %tr
      %td{colspan: 3}= t 'total'
      %td.align_right= @device.tasks_cost
      %td{colspan: 4}

.form-actions
  = link_to_edit @device
  - if can? :manage, Device
    = link_to_destroy @device
