.page-header
  %h1
    = link_back_to_index
    = @device.type_name
    %small= history_link_to history_device_path(@device)

  %span.help-block
    %small= timestamp_string_for @device
  -if (@device.user_id == current_user.id) or current_user.any_admin?
    = link_to icon_tag(:print) + t('tickets.link'), device_path(@device, format: 'pdf', print: true), class: 'btn btn-primary', target: '_blank', id: 'print_device_ticket'
    = link_to icon_tag('eye-open') + t('tickets.link'), device_path(@device, format: 'pdf', part: 1), class: 'btn btn-info pull-right', target: '_blank', id: 'print_device_ticket'

%dl.dl-horizontal

  %dt= t 'devices.itunes_string'
  %dd= text_field_tag 'itunes_string', itunes_string_for(@device)

  %br

  %dt= Device.human_attribute_name :ticket_number
  %dd= @device.ticket_number

  %dt= Device.human_attribute_name :security_code
  %dd= @device.security_code.present? ? @device.security_code : '-'

  %dt= Device.human_attribute_name :imei
  %dd= @device.imei.present? ? @device.imei : '-'

  %dt= Device.human_attribute_name :serial_number
  %dd= @device.serial_number.present? ? @device.serial_number : '-'

  %dt= Device.human_attribute_name :client_id
  %dd= @device.client.presentation

  - if @device.client.contact_phone.present?
    %dt= Client.human_attribute_name :contact_phone
    %dd= human_phone @device.client.contact_phone

  %dt= Device.human_attribute_name :comment
  %dd.device_comment= @device.comment.present? ? @device.comment : '-'

  %dt= Device.human_attribute_name :location
  %dd= @device.location_name

  - if @device.notify_client?
    %br
    %dt
    %dd
      %strong= Device.human_attribute_name :notify_client

    - if @device.client_notified?
      %dt
      %dd= Device.human_attribute_name :client_notified

%table.table.table-bordered.table-condensed.table-hover
  %caption
    %h4= Device.human_attribute_name :tasks
  %thead
    %tr
      %th= Task.human_attribute_name :name
      %th= DeviceTask.human_attribute_name :comment
      %th= DeviceTask.human_attribute_name :user_comment
      %th= DeviceTask.human_attribute_name :cost
      %th= DeviceTask.human_attribute_name :done_at
      %th= DeviceTask.human_attribute_name :created_at
      %th
  %tbody
    - @device.device_tasks.ordered.each do |device_task|
      %tr{class: row_class_for_task(device_task)}
        %td= device_task.task_name
        %td= h device_task.comment
        %td
          %strong.user_comment= h device_task.user_comment
        %td.align_right= device_task.cost
        %td= l device_task.done_at, format: :long_d unless device_task.done_at.blank?
        %td= l device_task.created_at, format: :long_d
        %td{style: "background:none;"}
          = history_link_to history_device_task_path(@device, device_task)
  %tfoot
    %tr
      %td{colspan: 3}= t 'total'
      %td.align_right= @device.tasks_cost
      %td{colspan: 4}

.form-actions
  = link_to_edit @device
  = link_to_destroy @device if can? :destroy, @device
