.page-header
  %h1
    = link_back_to_index
    = @device.type_name
    %small= history_link_to history_device_path(@device)

  %span.help-block
    %small= timestamp_string_for @device
  -if can? :print_receipt, @device
    = link_to icon_tag(:print) + t('tickets.link'), device_path(@device, format: 'pdf', print: true), class: 'btn btn-primary', target: '_blank', id: 'print_device_ticket'
    = link_to icon_tag('eye-open') + t('tickets.link'), device_path(@device, format: 'pdf'), class: 'btn btn-info pull-right', target: '_blank', id: 'print_device_ticket'

%table.attributes_table
  %tr
    %td= t 'devices.itunes_string'
    %td= text_field_tag 'itunes_string', itunes_string_for(@device)
  %tr
    %td= Device.human_attribute_name :client_id
    %td= link_to @device.client.presentation, @device.client
  %tr
    %td= Device.human_attribute_name :contact_phone
    %td= human_phone @device.contact_phone
  %tr
    %td= Device.human_attribute_name :ticket_number
    %td= @device.ticket_number
  %tr
    %td= Device.human_attribute_name :security_code
    %td= @device.security_code
  %tr
    %td= Device.human_attribute_name :imei
    %td= @device.imei
  %tr
    %td= Device.human_attribute_name :serial_number
    %td= @device.serial_number
  %tr
    %td= Device.human_attribute_name :case_color
    %td= case_color_presentation @device.case_color

  - if @device.user_id == current_user.id
    %tr
      %td= Device.human_attribute_name :app_store_pass
      %td= @device.app_store_pass.blank? ? '-' : @device.app_store_pass
  %tr
    %td= Device.human_attribute_name :comment
    %td.device_comment= @device.comment

  - if can? :read_tech_notice, @device
    %tr
      %td= Device.human_attribute_name :tech_notice
      %td= @device.tech_notice
  %tr
    %td= Device.human_attribute_name :location
    %td= @device.location_name
  %tr
    %td= Device.human_attribute_name :return_at
    %td= human_datetime @device.return_at

  - if @device.notify_client?
    %tr
      %td= Device.human_attribute_name :notify_client
      %td= Device.human_attribute_name :client_notified if @device.client_notified?

%table.table.table-bordered.table-condensed.table-hover
  %caption
    %h4= Device.human_attribute_name :tasks
  %thead
    %tr
      %th= Task.human_attribute_name :name
      %th= DeviceTask.human_attribute_name :comment
      %th= DeviceTask.human_attribute_name :user_comment
      %th= DeviceTask.human_attribute_name :cost
      %th= DeviceTask.human_attribute_name :done_at
      %th= DeviceTask.human_attribute_name :created_at
      %th
  %tbody
    - @device.device_tasks.ordered.each do |device_task|
      %tr{class: row_class_for_task(device_task)}
        %td= device_task.task_name
        %td= h device_task.comment
        %td
          %strong.user_comment= h device_task.user_comment
        %td.align_right= device_task.cost
        %td= l device_task.done_at, format: :long_d unless device_task.done_at.blank?
        %td= l device_task.created_at, format: :long_d
        %td{style: "background:none;"}
          = history_link_to history_device_task_path(@device, device_task)
  %tfoot
    %tr
      %td{colspan: 3}= t 'total'
      %td.align_right= @device.tasks_cost
      %td{colspan: 4}

.form-actions
  = link_to_edit @device
  = link_to_destroy @device if can? :destroy, @device
