- model_class = Device
.page-header
  %h1= t '.title', default: model_class.model_name.human
  %p= timestamp_string_for @device

%p
  %strong= model_class.human_attribute_name(:ticket_number) + ':'
  %br
  = @device.ticket_number
%p
  %strong= model_class.human_attribute_name(:client_id) + ':'
  %br
  = @device.client.name_phone
%p
  %strong= model_class.human_attribute_name(:device_type_id) + ':'
  %br
  = @device.type_name
%p
  %strong= model_class.human_attribute_name(:comment) + ':'
  %br
  = @device.comment

%table.table.table-bordered.table-condensed.table-hover
  %caption
    %h4= Device.human_attribute_name :tasks
  %thead
    %tr
      %th= Task.human_attribute_name :name
      %th= DeviceTask.human_attribute_name :comment
      %th= Task.human_attribute_name :duration
      %th= DeviceTask.human_attribute_name :cost
      %th= DeviceTask.human_attribute_name :done_at
      %th= DeviceTask.human_attribute_name :created_at
      %th= DeviceTask.human_attribute_name :updated_at
  %tbody
    - @device.device_tasks.ordered.each do |device_task|
      %tr{class: row_class_for_task(device_task)}
        %td= device_task.task_name
        %td
          %p.device_comment_tooltip{'data-title' => device_task.comment}
            = h device_task.comment.truncate(30, separator: ' ')
        %td= device_task.task_duration
        %td= device_task.cost
        %td= l device_task.done_at, format: :long_d unless device_task.done_at.blank?
        %td= l device_task.created_at, format: :long_d
        %td= l device_task.updated_at, format: :long_d
    

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), devices_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_device_path(@device), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), device_path(@device), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
