%tr.movement_item_fields.fields
  %td.num
  %td.code= f.object.try(:code)
  %td.product
    %strong= f.object.name
    .features= features_presentation f.object
    = f.hidden_field :item_id
  - if can? :manage, MovementAct
    %td.available_quantity.number= f.object.try(:quantity_in_store, f.object.try(:store))
  %td.quantity= f.number_field :quantity, type: 'number', class: 'input-mini', min: 1, readonly: f.object.try(:feature_accounting)
  %td.action= link_to_remove_fields f