- if @movement_acts.any?
  - model_class = MovementAct
  %table.table.table-striped
    %thead
      %tr
        %th= model_class.human_attribute_name :id
        %th= model_class.human_attribute_name :date
        %th= model_class.human_attribute_name :store
        %th= model_class.human_attribute_name :dst_store
        %th.actions
    %tbody
      - @movement_acts.each do |movement_act|
        %tr{class: document_row_class(movement_act)}
          %td= link_to movement_act.id, movement_act_path(movement_act)
          %td= link_to human_datetime(movement_act.date), movement_act_path(movement_act)
          %td= link_to movement_act.store_name, store_path(movement_act.store)
          %td= link_to movement_act.dst_store_name, store_path(movement_act.dst_store)
          %td.actions.btn-group
            = link_to_show_small movement_act
            = link_to_edit_small movement_act if can? :edit, movement_act
            = link_to_destroy_small movement_act if can? :destroy, movement_act

  = paginate @movement_acts, remote: true