= auto_header_tag

.table_filter.navbar.container
  .navbar-inner
    = form_tag movement_acts_path, method: 'get', id: 'search_form', class: 'navbar-search form-search', remote: true do
      .input-append
        = text_field_tag :q, params[:q], id: 'search_movement_act_input', class: 'search-query input-small', placeholder: MovementAct.human_attribute_name(:id)
        %span.add-on.btn.clear_search_input
          %i.icon-remove
      = text_field_tag :start_date, params[:start_date].try(:strftime, '%d.%m.%Y'), class: 'datepicker input-small', data: {date: {laguage: 'ru', format: 'dd.mm.yyyy', weekstart: 1}}
      = text_field_tag :end_date, params[:end_date].try(:strftime, '%d.%m.%Y'), class: 'datepicker input-small', data: {date: {laguage: 'ru', format: 'dd.mm.yyyy', weekstart: 1}}
      = select_tag 'store_id', options_from_collection_for_select(Store.all, 'id', 'name', params[:store_id]), prompt: MovementAct.human_attribute_name(:store)
      = select_tag 'dst_store_id', options_from_collection_for_select(Store.all, 'id', 'name', params[:dst_store_id]), prompt: MovementAct.human_attribute_name(:dst_store)
      %button.filter_button.btn.btn-info.btn-small= glyph('filter')

#resource_table= render 'table'