.fields.well.well-small
  = f.hidden_field :repair_service_id
  = f.full_error :repair_service_id
  %strong= f.object.name
  %span.pull-right= link_to_remove_fields f
  = f.input :price, input_html: {class: 'input-small'}
  %table.table.table-condensed.table-hover
    %tbody
      = f.simple_fields_for :repair_parts do |ff|
        %tr
          %td
            = ff.object.name + " (#{ff.object.quantity})" if ff.object.name.present?
            = ff.hidden_field :item_id
            = ff.full_error :item_id
            = ff.hidden_field :quantity
            = ff.full_error :quantity
          %td
            = ff.input_field :warranty_term, type: 'number', class: 'input-small', title: RepairPart.human_attribute_name(:warranty_term)
            = ff.error :warranty_term
          %td
            = ff.input_field :defect_qty, type: 'number', class: 'input-small', title: RepairPart.human_attribute_name(:defect_qty), placeholder: RepairPart.human_attribute_name(:defect_qty)
            = ff.error :defect_qty