.fields.well.well-small
  %p
    %strong= link_to f.object.name, f.object.repair_service
    %span.pull-right= link_to_remove_fields f
  - if f.object.errors.any?
    %p.text-error= f.object.errors.full_messages.join('. ')
  = f.hidden_field :repair_service_id
  = f.full_error :repair_service_id, class: 'text-error'
  = f.hidden_field :store_id
  = f.full_error :store_id, class: 'text-error'
  - f.object.repairer ||= current_user
  = f.association :repairer, collection: repairer_options, label_method: :presentation, input_html: {class: 'input-xlarge'}
  = f.input :price, input_html: {class: 'input-small'}

  #repair_parts
    .row-fluid
      %strong.span4 Запчасть (кол-во)
      %strong.span3 Гарантийный срок (мес.)
      %strong.span5 Брак
    = f.simple_fields_for :repair_parts do |ff|
      .row-fluid
        .span4
          = link_to ff.object.name + " (#{ff.object.quantity})", ff.object.product if ff.object.name.present?
          = ff.hidden_field :item_id
          = ff.full_error :item_id, class: 'text-error'
          = ff.hidden_field :quantity
          = ff.full_error :quantity, class: 'text-error'
        .span3
          = ff.input_field :warranty_term, type: 'number', class: 'input-small', title: RepairPart.human_attribute_name(:warranty_term)
          = ff.error :warranty_term, class: 'text-error'
        .span5
          - if ff.object.new_record?
            .row-fluid
              .span3
                %label.checkbox.inline
                  = ff.input_field :is_warranty, as: :boolean, title: 'Замена по гарантии'
                  Гарантия
              .span9= ff.input :contractor_id, collection: Contractor.all, prompt: 'Поставщик', label: false, wrapper: :horizontal_form
            %br

          %span{id: "spare_part_defects-#{f.index}-#{ff.index}"}
          .row-fluid
            .span12
              = ff.object.defect_qty
              = link_to_add_fields 'Брак', "#spare_part_defects-#{f.index}-#{ff.index}", ff, :spare_part_defects,
                                   partial: 'device_tasks/spare_part_defect_fields'
