%table#users_report.table.table-bordered.table-hover
  %caption
    %h4= t 'reports.users_report'
  %thead
    %tr
      %th.center{rowspan: 2}= Device.human_attribute_name :user
      %th.center{rowspan: 2}= t('reports.received')
      %th.center{colspan: 2}= t('reports.includes')
    %tr
      %th.center= t('reports.received_done')
      %th.center= t('reports.received_archived')
  %tbody
    - @report[:users].each do |user|
      %tr.detailable
        %td= user[:name]
        %td= user[:qty]
        %td= user[:qty_done]
        %td= user[:qty_archived]
      - user[:devices].each do |device|
        %tr.details
          %td
            = link_to device.presentation, device_path(device)
            %br
            = link_to device.client_presentation, client_path(device.client)
          %td= l device.created_at, format: :long_d
          %td= icon_tag(:ok) if device.at_done?
          %td= icon_tag(:ok) if device.in_archive?
  %tfoot
    %tr
      %td= t('reports.total')
      %td= @report[:devices_received_count]
      %td= @report[:devices_received_done_count]
      %td= @report[:devices_received_archived_count]
