%table#store_products.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th.code= Product.human_attribute_name :code
      %th.name= t 'activerecord.models.product'
      %th.quantity= StoreItem.human_attribute_name :quantity
  %tbody
    - @products.each do |product|
      %tr{class: product.feature_accounting ? 'detailable' : '', data: {path: product_details_store_path(@store, product_id: product.id, format: :js)}}[product]
        %td.code= product.code
        %td.name= link_to product.name, product_path(product)
        %td.quantity.number= product.quantity_in_store(@store)