%h1 Listing stores

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @stores.each do |store|
    %tr
      %td= store.name
      %td= link_to 'Show', store
      %td= link_to 'Edit', edit_store_path(store)
      %td= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Store', new_store_path
