- model_class = Store
= auto_header_tag

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:created_at)
      %th
  %tbody
    - @stores.each do |store|
      %tr
        %td= link_to store.id, edit_store_path(store)
        %td= link_to store.name, edit_store_path(store)
        %td= human_datetime store.created_at
        %td.btn-group
          = link_to_edit_small store
          = link_to_destroy_small store
