= auto_header_tag @store, @store.name

- if can? :manage, Store
  %dl.dl-horizontal
    %dt= Store.human_attribute_name :department
    %dd= @store.department_name || '-'
    %dt= Store.human_attribute_name :code
    %dd= @store.code || '-'
    %dt= Store.human_attribute_name :kind
    %dd= human_store_kind(@store) || '-'
    %dt= Store.human_attribute_name :price_types
    %dd= price_types_presentation(@store.price_types) || '-'

  %hr
  .row-fluid
    .span3
      #product_groups= product_groups_trees_tag @product_groups, [], nil, url: store_path(@store)

    .span9#resource_table= render 'store_items_table'

  .form-actions
    = link_to_edit @store if can? :edit, @store
    = link_to_destroy @store if can? :destroy, @store