= auto_header_tag @revaluation_act
= simple_form_for(@revaluation_act, html: { class: 'form-horizontal', id: 'revaluation_act_form' }) do |f|
  = f.input :date, as: :my_datetime
  = f.association :price_type, as: :select, prompt: false

  %table#revaluations.enumerable.table.table-condensed.table-hover.table-bordered
    %caption
      %h4= t 'products.index.title'
    %thead
      %tr
        %th.num
        %th.code= Product.human_attribute_name :code
        %th.product= t 'activerecord.models.product'
        %th.purchase_price= Product.human_attribute_name :purchase_price
        %th.actual_price= Product.human_attribute_name :actual_price
        %th.price= Revaluation.human_attribute_name :price
        %th.action
    %tbody
      = f.simple_fields_for :revaluations do |ff|
        = render 'revaluation_fields', f: ff

  -#= link_to_add_fields t('products.add_product'), '#revaluations>tbody', f, :revaluations
  = link_to_add_product :revaluation_act, :revaluations, true

  .form-actions
    = submit_button f