- model_class = Bank
= auto_header_tag

%table.table.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:created_at)
      %th
  %tbody
    - @banks.each do |bank|
      %tr
        %td= link_to bank.id, edit_bank_path(bank)
        %td= link_to bank.name, edit_bank_path(bank)
        %td= human_datetime bank.created_at
        %td.btn-group
          = link_to_edit_small bank
          = link_to_destroy_small bank
