= auto_header_tag
= simple_form_for @user, html: { class: 'form-horizontal user_form', autocomplete: 'off' } do |f|
  = f.error_notification

  %ul.nav.nav-tabs
    %li.active= link_to t("users.info"), '#info_tab', 'data-toggle' => 'tab'
    %li= link_to t('users.schedule'), '#schedule_tab', 'data-toggle' => 'tab'
    %li= link_to t("users.account"), '#account_tab', 'data-toggle' => 'tab'
    %li= link_to t("users.uniform"), '#uniform_tab', 'data-toggle' => 'tab'

  .tab-content
    #info_tab.tab-pane.active
      .control-group
        %label.control-label= User.human_attribute_name :photo
        #user_photo_fields.controls
          = image_tag f.object.photo.medium.url if f.object.photo?
          = f.file_field :photo
          = f.hidden_field :photo_cache
          %label
            = f.check_box :remove_photo
            = t 'remove_photo'

      = f.input :surname
      = f.input :name
      = f.input :patronymic
      = f.input :birthday, as: :my_date, viewmode: 'years'
      = f.input :phone_number
      = f.input :email
      = f.input :job_title
      = f.input(:hiring_date, as: :my_date) unless @user.persisted?
      = f.input :is_fired
      = f.input :prepayment
      = f.input :color, as: :color
      .control-group
        %label.control-label= User.human_attribute_name :karmas
        .controls
          #user_karmas
            #karma_popover_container
            .good= render @user.karmas.unused.good
            .bad= render @user.karmas.bad

    #schedule_tab.tab-pane
      = f.input :schedule
      - if !@user.new_record? and @user.schedule?
        = f.input :wish, input_html: {rows: 5, class: 'span7'}
        %table#schedule_table.table.table-bordered.table-condensed
          %thead
            %tr
              %th
              - ('10'..'20').each do |h|
                %th= h
          %tbody
            - (1..7).each do |day|
              %tr.schedule_day{day: day}
                %td
                  %strong= t('date.abbr_day_names')[day-1]
                - (10..20).each do |hour|
                  %td.schedule_hour{class: schedule_hour_class_for(@user, day, hour), day: day, hour: hour}

        = f.fields_for :schedule_days do |ff|
          = ff.hidden_field :hours, class: "schedule_day_#{ff.object.day}"

        #duty_days
          - DutyDay::KINDS.each do |kind|
            = duty_calendar(kind, Date.current.beginning_of_month, @user)

          #duty_days_fields
            = f.fields_for :duty_days do |ff|
              = ff.hidden_field :day
              = ff.hidden_field(:_destroy)

    #account_tab.tab-pane
      = f.input :username

      = f.input :role, collection: accessible_roles, value_method: :to_s, label_method: lambda{|role|t("users.roles.#{role}")}
      - if can? :manage_rights, User
        .row-fluid
          .control-group.span6
            %label.control-label= User.human_attribute_name :abilities
            .controls
              - User::ABILITIES.each do |ability|
                = label_tag "user_abilities_#{ability}", class: 'checkbox' do
                  = check_box_tag "user[abilities][#{ability}]", ability, @user.able_to?(ability), {name: "user[abilities][]"}
                  = t("users.abilities.#{ability}")
              = hidden_field_tag 'user[abilities][]', ''

          .control-group.span6
            %label.control-label= User.human_attribute_name :activities
            .controls
              - User::ACTIVITIES.each do |activity|
                = label_tag "user_activities_#{activity}", class: 'checkbox' do
                  = check_box_tag "user[activities][#{activity}]", activity, @user.acts_to?(activity), {name: "user[activities][]"}
                  = t("users.activities.#{activity}")
              = hidden_field_tag 'user[activities][]', ''

      = f.input :can_help_in_repair
      = f.association :department, prompt: false, as: :grouped_select, collection: City.all, group_method: :selectable_departments
      = f.association :location, as: :location
      = f.input :department_autochangeable
      = f.input :password
      = f.input :password_confirmation
      = f.input :card_number
      = f.input :session_duration

    #uniform_tab.tab-pane
      = f.input :uniform_sex, collection: User::UNIFORM_SEX, value_method: :to_s
      = f.input :uniform_size, collection: User::UNIFORM_SIZE, value_method: :to_s
  .form-actions
    = submit_button f