.page-header
  %h1= t 'users.rating'

%table#users_rating_table.table.table-striped.table-hover
  %tbody
    - @users.sort_by{|u|u.rating}.reverse.each do |user|
      %tr
        %td.rating= user.rating
        %td.user
          = link_to user.short_name, user_path(user)
          = karma_tag(user)
        %td.karmas
          = render user.karma_groups.unused if user.karma_groups.any?
          = render user.karmas.good.unused.ungrouped.created_asc
          %br
          = render user.karmas.bad.created_asc