.page-header
  - if @user.id == current_user.id
    #news
      %h3= link_to t('infos.index.title'), infos_path
      #news_table= render 'infos/table_read'
  - else
    %h2
      = link_back_to_index
      = @user.short_name
      = link_to_edit(@user) if can?(:manage, @user)

.row-fluid
  .span6
    %ul.nav.nav-tabs
      %li= link_to 'Длинная приёмка', "#service_jobs_tab", 'data-toggle' => 'tab', id: 'a_service_jobs_tab',
        onclick: "$('#b_users_service_jobs_search_form').click();"
      %li= link_to t("users.tabs.quick_orders"), "#quick_orders_tab", 'data-toggle' => 'tab', id: "a_quick_orders_tab",
        onclick: "$('#b_users_quick_orders_search_form').click();"
      %li= link_to 'Бесплатный сервис', "#free_service_tab", 'data-toggle' => 'tab', id: "a_free_service_tab",
        onclick: "$('#b_users_free_jobs_search_form').click();"
      %li= link_to t("users.info"), "#info_tab", 'data-toggle' => 'tab'
      %li= link_to t('users.schedule'), '#schedule_tab', 'data-toggle' => 'tab'
      %li.user-fautls= link_to t('faults.index.title'), '#faults_tab', class: 'user-faults-link', data: {toggle: 'tab', source: user_faults_path(@user)}
      -#- if can? :manage, Salary
      -#  %li= link_to t('salaries.index.title'), '#salary_tab', 'data-toggle' => 'tab'
      %li.active= link_to t("users.account"), '#account_tab', 'data-toggle' => 'tab'
      %li= link_to t("users.uniform"), '#uniform_tab', 'data-toggle' => 'tab'

    .tab-content
      #service_jobs_tab.tab-pane
        =render partial: 'service_jobs/user_filter_form', locals: { user: @user }

      #quick_orders_tab.tab-pane
        =render partial: 'quick_orders/user_filter_form', locals: { user: @user }

      #free_service_tab.tab-pane
        =render partial: 'service/free_jobs/user_filter_form', locals: { user: @user }

      #info_tab.tab-pane
        %dl.dl-horizontal

          %dt= User.human_attribute_name :fio
          %dd= @user.full_name

          %dt= User.human_attribute_name :phone_number
          %dd= @user.phone_number.present? ? number_to_phone(@user.phone_number, area_code: true) : '-'

          %dt= User.human_attribute_name :email
          %dd= @user.email.presence || '-'

          %dt= User.human_attribute_name :birthday
          %dd= @user.birthday.present? ? human_date(@user.birthday) : '-'

          %dt= User.human_attribute_name :hiring_date
          %dd= @user.hiring_date.present? ? human_date(@user.hiring_date) : '-'

          %dt= User.human_attribute_name :prepayment
          %dd= @user.prepayment.present? ? @user.prepayment : '-'

          #wishlist_hobby_view
            %dl.dl-horizontal
              %dt= User.human_attribute_name :wishlist
              %dd
                - if @user.wishlist.blank?
                  -
                - else
                  - @user.wishlist.each do |wish|
                    %p= link_to wish, wish

              -#%dd= @user.wishlist&.any? ? @user.wishlist : '-'

              %dt= User.human_attribute_name :hobby
              %dd= @user.hobby.present? ? @user.hobby : '-'

            - if can? :update_self, @user
              %a#edit_wishlist_hobby_link.btn
                %i.icon-edit
                Редактировать
          - if can? :update_self, @user
            %dl#wishlist_hobby_edit.hide
              = simple_form_for @user, url: update_self_user_path(@user),
                method: :patch, id: 'update_uniform_user_form',
                html: { class: 'form-horizontal user_form', autocomplete: 'off' } do |f|
                = f.input :wishlist, as: :array, size: 300,
                    input_html: {id: :input_wishlist }
                = f.input :hobby, as: :text, input_html: {id: :input_hobby}
                = submit_button f


          %dt= User.human_attribute_name :karmas
          %dd
            #user_karmas
              - if can? :create, Karma
                = link_to_add_karma @user, true, class: 'large'
                = link_to_add_karma @user, false, class: 'large'
              #karma_popover_container
              #karma_group_popover_container
              #good_karmas.good.well
                = render @user.karma_groups.unused if @user.karma_groups.any?
                = render @user.karmas.good.unused.ungrouped.created_asc
              = link_to t('karmas.select'), '#', id: 'select_karmas_button', class: 'btn btn-info'
              = form_for :karma_group, url: karma_groups_path, remote: true, html: {id: 'create_karma_group_form', class: 'form-inline'} do |f|
                = f.hidden_field :karma_ids
                .input-append.input-prepend
                  = link_to glyph(:remove), '#', class: 'btn', id: 'close_karma_group_form_link'
                  = number_field_tag :karma_qty, nil, id: 'karma_group_karma_qty', class: 'input-mini', min: 0
                  = f.submit t('karmas.group'), class: 'btn btn-primary'
              #bad_karmas.bad.well= render @user.karmas.bad.created_asc

          %dt= link_to t('bonuses.index.title'), bonuses_user_path(@user), remote: true
          %dd
            #user_bonuses.well

      #schedule_tab.tab-pane

        %dl.dl-horizontal
          %dt
            = User.human_attribute_name :wish
            - if can? :update_wish, @user
              %a#edit_wish_link
                %i.icon-edit
          %dd
            #wish_view= @user.wish
            #wish_edit.hide
              = form_tag update_wish_user_path(@user), remote: true, method: :patch, id: 'update_user_wish_form' do
                = text_area_tag 'user_wish', @user.wish, class: 'span7', rows: 5
                %br
                %a#save_user_wish.btn.btn-primary= 'Save'

        %table#schedule_table.table.table-bordered.table-condensed
          %thead
            %tr
              %th
              - ('10'..'20').each do |h|
                %th= h
          %tbody
            - (1..7).each do |day|
              %tr{day: day}
                %td
                  %strong= t('date.abbr_day_names')[day-1]
                - (10..20).each do |hour|
                  %td{class: schedule_hour_class_for(@user, day, hour), day: day, hour: hour}

        #duty_days
          - DutyDay::KINDS.each do |kind|
            = duty_calendar(kind, Date.current.beginning_of_month, @user)

      #faults_tab.tab-pane

      #account_tab.tab-pane.active
        %dl.dl-horizontal
          %dt= User.human_attribute_name :username
          %dd= @user.username

          %dt= User.human_attribute_name :role
          %dd= t "users.roles.#{@user.role}"

          %dt= User.human_attribute_name :department
          %dd= @user.department_name || '-'

          %dt= User.human_attribute_name :location
          %dd= @user.location.try(:name) || '-'

          - if current_user.any_admin?
            %dt= t 'current_sign_in'
            %dd= @user.current_sign_in_at.blank? ? '-' : "#{@user.current_sign_in_ip} at #{l(@user.current_sign_in_at, format: :date_time)}"
            %dt= t 'last_sign_in'
            %dd= @user.last_sign_in_at.blank? ? '-' : "#{@user.last_sign_in_ip} at #{l(@user.last_sign_in_at, format: :date_time)}"
          - if current_user.superadmin?
            %dt Auth Token
            %dd= @user.authentication_token

      #uniform_tab.tab-pane
        #uniform_view
          %dl.dl-horizontal
            %dt= User.human_attribute_name :uniform_sex
            %dd#uniform_sex_value= @user.uniform_sex

            %dt= User.human_attribute_name :uniform_size
            %dd#uniform_size_value= @user.uniform_size
          - if can? :update_uniform, @user
            %a#edit_uniform_link.btn
              %i.icon-edit
              Редактировать
        - if can? :update_uniform, @user
          %dl#uniform_edit.hide
            = simple_form_for @user, url: update_uniform_user_path(@user), remote: true, method: :patch, id: 'update_uniform_user_form', html: { class: 'form-horizontal user_form', autocomplete: 'off' } do |f|
              = f.input :uniform_sex, collection: User::UNIFORM_SEX, value_method: :to_s, selected: @user.uniform_sex, input_html: {id: :input_uniform_sex}
              = f.input :uniform_size, collection: User::UNIFORM_SIZE, value_method: :to_s, selected: @user.uniform_size, input_html: {id: :input_uniform_size}
              = submit_button f


    - if can? :manage, User
      .form-actions
        - if can? :manage, Salary
          = link_to (icon_tag(:money) + ' ' + t('salaries.issue')), new_salary_path(user_id: @user.id), class: 'btn'

  .span6


    - if can? :update_photo, @user
      #update_user_photo
        = simple_form_for @user, url: update_photo_user_path(@user), html: { class: 'form-horizontal user_form', autocomplete: 'off' } do |f|
          .control-group
            #user_photo_fields.controls
              = image_tag f.object.photo.medium.url, class: 'avatar-medium' if f.object.photo?
              = f.file_field :photo
              = f.hidden_field :photo_cache
              %label
                = f.check_box :remove_photo
                = t 'remove_photo'
          = submit_button f
    - elsif @user.photo?
      %dt
      %dd= image_tag @user.photo.medium.url, class: 'avatar-medium'
    - if current_user.superadmin? || able_to?(:comment_users)
      #comments.comments_list= comments_list_for @user
      = comment_form_for @user
