.page-header
  #news
    %h3= link_to t('news'), infos_path
    #news_table= render 'infos/table_read'
%ul.nav.nav-tabs
  %li.active= link_to t("info"), "#info_tab", 'data-toggle' => 'tab'
  %li= link_to t('shedule'), '#schedule_tab', 'data-toggle' => 'tab'
  %li= link_to t("account"), "#account_tab", 'data-toggle' => 'tab'

.tab-content
  #info_tab.tab-pane.active
    %dl.dl-horizontal

      %dt
      %dd= image_tag @user.photo.medium.url if @user.photo?

      %dt= User.human_attribute_name :fio
      %dd= @user.full_name

      %dt= User.human_attribute_name :birthday
      %dd= human_date @user.birthday

      %dt= User.human_attribute_name :hiring_date
      %dd= human_date @user.hiring_date

      %dt= User.human_attribute_name :prepayment
      %dd= @user.prepayment.present? ? @user.prepayment : '-'

  #schedule_tab.tab-pane

    %dl.dl-horizontal
      %dt
        = User.human_attribute_name :wish
        - if can? :update_wish, @user
          %a#edit_wish_link
            %i.icon-edit
      %dd
        #wish_view= @user.wish
        #wish_edit.hide
          = form_tag update_wish_user_path(@user), remote: true, method: :put,
              id: 'update_user_wish_form' do
            = text_area_tag 'user_wish', @user.wish, class: 'span7', rows: 5
            %br
            %a#save_user_wish.btn.btn-primary= 'Save'
          -#  = submit_tag 'Save', class: 'btn btn-primary'

          -#= form_for @user, url: {action: 'update_wish', id: @user.id}, method: :put, remote: true do |f|
          -#= form_for @user, url: update_wish_user_path(@user, format: :js), html: {remote: true}, method: :put do |f|
          -#  = f.text_area :wish, class: 'span7', rows: 5
          -#  %br
          -#  = f.submit 'Save', class: 'btn btn-primary'

    %table#schedule_table.table.table-bordered.table-condensed
      %thead
        %tr
          %th
          - ('10'..'20').each do |h|
            %th= h
      %tbody
        - (1..7).each do |day|
          %tr{day: day}
            %td
              %strong= t('date.abbr_day_names')[day-1]
            - (10..20).each do |hour|
              %td{class: schedule_hour_class_for(@user, day, hour), day: day, hour: hour}

    #duty_days
      = render 'calendar'

  #account_tab.tab-pane
    %dl.dl-horizontal
      %dt= User.human_attribute_name :username
      %dd= @user.username

      %dt= User.human_attribute_name :role
      %dd= @user.role

      %dt= User.human_attribute_name :location
      %dd= @user.location.try(:full_name) || '-'

      - if current_user.admin?
        %dt= t 'current_sign_in'
        %dd= "#{@user.current_sign_in_ip} at #{l(@user.current_sign_in_at, format: :long_d)}" unless @user.current_sign_in_at.blank?
        %dt= t 'last_sign_in'
        %dd= "#{@user.last_sign_in_ip} at #{l(@user.last_sign_in_at, format: :long_d)}" unless @user.last_sign_in_at.blank?


- if can? :manage, User
  .form-actions
    = link_to t('.back', :default => t("helpers.links.back")), users_path, class: 'btn'
    - if can? :manage, @user
      = link_to_edit @user
      = link_to_destroy @user
