%tr.batch_fields.fields
  %td.num
  %td.code= f.object.try(:code)
  %td.product
    = f.input_field :item, as: :product, form: 'purchase'
    %span.features= f.object.features_presentation
  %td.quantity.number= f.input_field :quantity, class: 'input-small'
  %td.price.number= f.input_field :price, class: 'input-small'
  %td.sum.number= text_field_tag :sum, f.object.sum, class: 'input-small', disabled: true
  %td.action= link_to_remove_fields f
