- if @purchases.any?
  - model_class = Purchase
  = sort_fields

  %table.table.table-striped
    %thead
      %tr
        %th= sortable :id, model_class.human_attribute_name(:id)
        %th= sortable :date, model_class.human_attribute_name(:date)
        %th= model_class.human_attribute_name(:contractor)
        %th= model_class.human_attribute_name(:store)
        %th= model_class.human_attribute_name(:total_sum)
        %th= model_class.human_attribute_name(:comment)
        %th.actions
    %tbody
      - @purchases.each do |purchase|
        %tr{class: purchase_row_class(purchase)}
          %td= link_to purchase.id, purchase_path(purchase)
          %td= human_datetime purchase.created_at
          %td= link_to purchase.contractor_name, contractor_path(purchase.contractor) if purchase.contractor.present?
          %td= link_to purchase.store_name, store_path(purchase.store) if purchase.store.present?
          %td.number= human_currency purchase.total_sum
          %td= purchase.comment
          %td.actions.btn-group
            = link_to_show_small purchase
            = link_to_edit_small purchase if can? :edit, purchase
            = link_to_destroy_small purchase if can? :destroy, purchase

  = paginate @purchases
