= auto_header_tag @purchase
= simple_form_for @purchase, html: { class: 'form-horizontal', id: 'purchase_form' } do |f|
  = f.input :date, as: :my_datetime
  = f.association :contractor, as: :select
  = f.association :store, collection: Store.for_purchase.all

  %table#purchase_products.enumerable.table.table-condensed.table-striped.table-bordered
    %caption
      %h4= t 'products.index.title'
    %thead
      %tr
        %th.num
        %th.code= Product.human_attribute_name :code
        %th.product= Batch.human_attribute_name :product
        %th.quantity= Batch.human_attribute_name :quantity
        %th.price= Batch.human_attribute_name :price
        %th.sum= Batch.human_attribute_name :sum
        %th.action

    %tbody
      = f.simple_fields_for :batches do |ff|
        = render 'batch_fields', f: ff

    %tfoot
      %tr
        %td{colspan: 5}= t 'total'
        %td.total_sum.number= @purchase.total_sum
        %td

  = link_to_add_fields t('products.add_product'), '#purchase_products>tbody', f, :batches

  .form-actions
    = submit_button f#, disabled: true
    = button_to_post @purchase if @purchase.persisted? and can?(:post, @purchase)
