= auto_header_tag

.table_filter.navbar.container
  .navbar-inner
    = form_tag purchases_path, method: 'get', id: 'search_form', class: 'navbar-search form-search', remote: true do

      .input-append
        = text_field_tag :purchase_q, params[:purchase_q], id: 'search_purchase_input', class: 'search-query input-small', placeholder: Purchase.human_attribute_name(:id)
        %span.add-on.btn.clear_search_input
          %i.icon-remove

      = date_filter_fields
      = select_tag 'contractor_id', options_from_collection_for_select(Contractor.all, 'id', 'name', params[:contractor_id]), prompt: Purchase.human_attribute_name(:contractor)

      = select_tag 'store_id', options_from_collection_for_select(Store.visible, 'id', 'name', params[:store_id]), prompt: Purchase.human_attribute_name(:store)

      %button.filter_button.btn.btn-info.btn-small
        %i.icon-filter

#resource_table= render 'table'
