= form_for @karma, remote: true, html: {id: 'user_karma_form'} do |f|
  = f.hidden_field :user_id
  = f.hidden_field :good
  = f.text_area :comment, rows: 3, class: 'input-medium'
  .actions
    .btn-group
      = link_to icon_tag(:trash)+t(:destroy), @karma, method: :delete, remote: true, class: 'btn btn-small btn-danger',
          data: {confirm: t('confirmation', default: 'Are you sure?')} unless @karma.new_record?
      = link_to icon_tag(:save)+t(:save), '#', remote: true,
          class: "submit_karma_form btn btn-small btn-primary #{'btn-block' if @karma.new_record?}"