= link_to (can?(:manage, karma) ? edit_karma_path(karma) : '#'), remote: true, id: "user_karma_#{karma.id}", class: "has-tooltip user_karma_link #{karma.kind}", data: {html: true, title: karma_comment(karma)} do
  = glyph "thumbs-#{karma.good ? 'up' : 'down'}"