:plain
  if($("#user_karmas").length > 0){
    $("#user_karmas>div.#{@karma.kind}").append("#{j(render(@karma))}");
  }
  if($("#karma_#{@karma.id}").length > 0) {
    $("#karma_#{@karma.id}").tooltip({title: "#{karma_comment(@karma)}"});
  }
  if($("#user_row_#{@karma.user_id}").length > 0) {
    $("#user_row_#{@karma.user_id}").replaceWith("#{j(user_row_tag(@karma.user))}");
  }
  if($('#header_karma_form').length > 0){
    $('#header_karma_link').popover('hide');
  }else{
    $('#header_karma_link').popover('destroy');
  }
  closeKarmaPopovers();