:plain
  close_karma_popovers();
  if($("#user_karmas").length > 0){
    $("#user_karmas>.#{@karma.kind}").append("#{j(render(@karma))}");
  }
  if($("#user_karma_#{@karma.id}").length > 0) {
    $("#user_karma_#{@karma.id}").tooltip({title: "#{@karma.comment}"});
  }
  if($("#user_row_#{@karma.user_id}").length > 0) {
    $("#user_row_#{@karma.user_id}").replaceWith("#{j(user_row_tag(@karma.user))}");
  }
  //if($('#header_karma_form').length > 0){
  //  $('#header_karma_link').popover('destroy');
  //}
  hideSpinner();