:plain
  close_karma_popovers();
  $("#user_karmas>.#{@karma.kind}").append("#{j(render(@karma))}");
  $("#user_karma_#{@karma.id}").tooltip({title: "#{@karma.comment}"});
  $("#user_row_#{@karma.user_id}").replaceWith("#{j(user_row_tag(@karma.user))}");