:plain
  close_karma_popovers();
  if($("#user_karma_#{@karma.id}").length > 0) {
    $("#user_karma_#{@karma.id}").replaceWith("#{j(render(@karma))}");
    $("#user_karma_#{@karma.id}").tooltip({title: "#{@karma.comment}"});
  }
  if($("#user_row_#{@karma.user_id}").length > 0) {
    $("#user_row_#{@karma.user_id}").replaceWith("#{j(user_row_tag(@karma.user))}");
  }
  hideSpinner();