= nav_bar static: :top, brand: logo_tag, responsive: true, fluid: true do
  = menu_group do
    = menu_item t('.service_job'), new_service_job_path if can? :create, ServiceJob
    = menu_item t('.free_service'), new_service_free_job_path if can? :create, Service::FreeJob
    = menu_item t('.quick_order'), new_quick_order_path if can? :create, QuickOrder

    = drop_down t('.service') do
      = menu_item t('service_jobs.link', default: 'Service jobs'), service_jobs_path if can? :read, ServiceJob
      = menu_item t('repair_services.index.title'), repair_services_path if can? :read, RepairService
      = menu_item t('movement_acts.defect_link'), make_defect_sp_movement_acts_path if can? :make_defect_sp, MovementAct
      = menu_item t('.repair_return'), new_service_repair_return_path
      = menu_item t('.repair_returns'), service_repair_returns_path if policy(Service::RepairReturn).index?
      = drop_down_divider
      = menu_item t('.free_jobs'), service_free_jobs_path if can? :manage, Service::FreeJob
      = menu_item t('quick_orders.link'), quick_orders_path if can? :read, QuickOrder
      = menu_item t('media_orders.index.title'), media_orders_path
      = menu_item t('media_menu.view.title'), media_menu_path
      = drop_down_divider
      = menu_item t('orders.link', default: 'Orders'), orders_path if can? :read, Order
      = drop_down_divider
      = menu_item t('clients.link', default: 'Clients'), clients_path
      - if can? :manage, TaskTemplate
        = drop_down_divider
        = menu_item t('task_templates.index.title'), task_templates_path
      = menu_item t('service/job_template.index.title'), service_job_templates_path
      = drop_down_divider
      = menu_item t('substitute_phones.index.title'), substitute_phones_path
      = menu_item 'Инвентаризация', new_service_jobs_inventory_path if policy(ServiceJob).inventory?

    = drop_down t('.trade') do
      = menu_item t('.trade_in'), trade_in_devices_path
      = drop_down_divider
      = menu_item t('sales.link'), sales_path if can? :manage, Sale
      = menu_item t('purchases.link'), purchases_path if can? :manage, Purchase
      = menu_item t('revaluation_acts.index.title'), revaluation_acts_path if can? :manage, RevaluationAct
      = menu_item t('movement_acts.link'), movement_acts_path if can? :manage, MovementAct
      = menu_item t('deduction_acts.link'), deduction_acts_path if can? :manage, DeductionAct
      = drop_down_divider
      = menu_item t('prices.link', default: 'Prices'), prices_path
      = menu_item t('gift_certificates.link'), gift_certificates_path
      = drop_down_divider
      = menu_item t('top_salables.index.title'), top_salables_path if can? :manage, TopSalable
      = menu_item t('product_imports.form.title'), new_product_import_path if can? :modify, Product
      = menu_item t('imported_sales.index.title'), imported_sales_path if can? :modify, ImportedSale
      = drop_down_divider
      = menu_item t('.sale'), new_sale_path if can? :create, Sale
      = menu_item t('cash_operations.cash_in'), new_cash_operation_path(cash_operation: {is_out: false}), remote: true if can? :create, CashOperation
      = menu_item t('cash_operations.cash_out'), new_cash_operation_path(cash_operation: {is_out: true}), remote: true if can? :create, CashOperation

    = drop_down t('.staff') do
      = menu_item t('infos.link', default: 'Infos'), infos_path if can? :index, Info
      = menu_item t('announcements.link'), announcements_path if current_user.any_admin?
      = drop_down_divider
      = menu_item t('users.link', default: 'Users'), users_path if can? :manage, User
      -#= menu_item t('users.rating'), rating_users_path
      = menu_item t('users.schedule'), schedule_users_path if can? :manage, ScheduleDay
      = menu_item t('users.timesheet'), timesheet_days_path if can? :manage, TimesheetDay
      = drop_down_divider
      = menu_item t('supply_requests.index.title'), supply_requests_path if can? :read, SupplyRequest
      = menu_item t('supply_reports.index.title'), supply_reports_path if can? :read, SupplyReport
      = menu_item t('salaries.index.title'), salaries_path if can? :manage, Salary
      = drop_down_divider
      = menu_item t('bonus_types.index.title'), bonus_types_path if can? :manage, BonusType
      = menu_item t('fault_kinds.index.title'), fault_kinds_path if can? :manage, FaultKind

    = drop_down t('dashboard.references') do
      = menu_item t('products.index.title'), products_path if can? :read, Product
      = menu_item t('feature_types.index.title'), feature_types_path if can? :manage, FeatureType
      = menu_item t('option_types.index.title'), option_types_path if can? :manage, FeatureType
      = menu_item t('product_categories.index.title'), product_categories_path if can? :manage, ProductCategory
      = menu_item t('device_types.link', default: 'Device types'), device_types_path if can? :manage, DeviceType
      = drop_down_divider
      = menu_item t('tasks.link'), tasks_path if can? :manage, Task
      = menu_item t('quick_tasks.link'), quick_tasks_path if can? :manage, QuickTask
      = menu_item t('.free_tasks'), service_free_tasks_path if can? :manage, Service::FreeTask
      = menu_item t('carriers.index.title'), carriers_path if can? :manage, Carrier
      = menu_item t('case_colors.link'), case_colors_path if can? :manage, CaseColor
      = menu_item t('client_categories.index.title'), client_categories_path if can? :manage, ClientCategory
      = drop_down_divider
      = menu_item t('stores.index.title'), stores_path if can? :manage, Store
      = menu_item t('cash_drawers.link'), cash_drawers_path if can? :manage, CashDrawer
      = menu_item t('banks.index.title'), banks_path if can? :manage, Bank
      = menu_item t('contractors.link'), contractors_path if can? :manage, Contractor
      = drop_down_divider
      = menu_item t('locations.link'), locations_path if can? :manage, Location
      = menu_item t('supply_categories.index.title'), supply_categories_path if can? :manage, SupplyCategory
      = menu_item t('departments.link'), departments_path if can? :manage, Department
      = menu_item 'Города', cities_path if can? :manage, City
      = menu_item 'Бренды', brands_path if can? :manage, Brand

    = drop_down t('.misc') do
      = menu_item t('wiki.link'), wiki_all_path if can? :read, WikiPage
      = menu_item t('reports.title'), reports_path if can? :manage, :report
      = drop_down_divider
      = menu_item t('stolen_phones.link'), stolen_phones_path
      = menu_item t('case_pictures.index.title'), case_pictures_path
      = menu_item t('contacts_extractions.new.title'), new_contacts_extraction_path if can? :manage, ContactsExtractor
      = drop_down_divider
      = menu_item t('dashboard.print_tags.title'), print_tags_path if current_user.any_admin?
      = menu_item t('receipts.new.title'), new_receipt_path
      = menu_item t('repair_services.index.title'), repair_services_path if can? :read, RepairService
      = drop_down_divider
      -#= navbar_item t('.data_migration'), data_migration_path
      = menu_item t('settings.link'), settings_path if can? :manage, Setting
      = menu_item 'Логотип', app_logo_path if current_user.superadmin?
      = menu_item 'Sidekiq', '/sidekiq' if current_user.superadmin?

    = drop_down icon_tag(:star) do
      = navbar_favorite_links
      = drop_down_divider
      = menu_item t('helpers.links.edit'), favorite_links_path

  = menu_group pull: :right do
    = menu_item t('chat.title'), messages_path, class: 'nav_chat'
