#topbar
  #current_user_name= profile_link
  - if current_user.department.present?
    .user_department= "[#{current_user.department.name}]"
  - else
    %strong.text-error= t 'users.department_blank_error'
  - unless Rails.env.production?
    = "<#{Rails.env}>"
  - unless current_user.any_admin?
    %span= link_to karma_tag(current_user), rating_users_path
  = duck_plan_tag
  - if (current_user.superadmin? || able_to?(:manage_trade_in)) && TradeInDevice.unconfirmed.any?
    = link_to(t('trade_in_device.purgatory'), purgatory_trade_in_devices_path)
  %span#quick_search_form
    = form_tag quick_search_service_jobs_path, method: :get, remote: true, id: 'service_jobs_quick_search_form', class: 'form-search' do
      = text_field_tag :quick_search, nil, class: 'search-query span4'
    %ul#quick_search_result.unstyled.span4

  %span.pull-right.bar-buttons
    = header_link_to_scan_barcode
    = header_links_to_stale_jobs if policy(ServiceJob).stale?
    = header_link_to_feedbacks
    = header_link_to_salaries if can? :manage, Salary
    = header_fault_button if can? :create, Fault
    -#-#= header_link_for_device_returning
    = header_link_for_coffee
    = header_link_to_announce
    = link_to icon_tag(:lock), destroy_user_session_path, method: :delete, remote: true, class: 'lock_link', id: 'lock_session'
    -#= header_link_to_change_user if Rails.env.development?
    = link_to icon_tag(:signout), destroy_user_session_path, method: :delete, class: 'signout_link'
