<div id="topbar">
  <div id="current_user_name">
    <% if current_user.photo? %>
      <%=link_to profile_path do %>
        <%= image_tag current_user.photo.thumb.url, class: :avatar %>
      <% end %>
    <% else %>
      <%= glyph(current_user.any_admin? ? 'user-md' : 'user') %>
    <% end %>
    <%= profile_link %>
  </div>
  <% if current_user.department.present? %>
    <%= current_department_link %>
  <% else %>
    <strong class="alert alert-error"><%= link_to 'Указать подразделение!', edit_user_department_path %></strong>
  <% end %>
  <% unless current_user.any_admin? %>
    <span><%= link_to karma_tag(current_user), rating_users_path %></span>
  <% end %>
  <%= duck_plan_tag %>
  <%= link_to_trade_in_purgatory %>
  <span class="statistics">
    <% if current_user.acts_to?(:free) %>
      <a onclick="$('#a_free_service_tab').click();">
        <div class="statistics__item">
          <%= image_tag('/free_icon.png', width: '60') %>
          <span class="statistics__value">
            <%= current_user.free_jobs_count %>
          </span>
        </div>
      </a>
    <% end %>
    <% if current_user.acts_to?(:fast) %>
      <a onclick="$('#a_quick_orders_tab').click();">
        <div class="statistics__item">
        <%= image_tag('/fast_icon.png', width: '60') %>
          <span class="statistics__value">
            <%= current_user.fast_jobs_count %>
          </span>
        </div>
      </a>

    <% end %>
    <% if current_user.acts_to?(:long) %>
      <a onclick="$('#a_service_jobs_tab').click();">
        <div class="statistics__item">
          <%= image_tag('/long_icon.png', width: '60') %>
          <span class="statistics__value">
            <%= current_user.long_jobs_count %>
          </span>
        </div>
      </a>
    <% end %>
  </span>
  <div id="quick_search_form">
    <%= form_tag quick_search_service_jobs_path, method: :get, remote: true, id: 'service_jobs_quick_search_form', class: 'form-search' do %>
      <%= text_field_tag :quick_search, nil, class: 'search-query span4' %>
    <% end %>
    <ul id="quick_search_result" class="unstyled span4"></ul>
  </div>
  <span class="pull-right bar-buttons">
    <%= header_link_to_scan_barcode %>
    <%= header_links_to_stale_jobs if policy(ServiceJob).stale? %>
    <%= header_link_to_feedbacks %>
    <%= header_link_to_staff_experience if can? :experience, User %>
    <%= header_fault_button if can? :create, Fault %>
    <%#= header_link_for_device_returning %>
    <%= header_link_for_coffee %>
    <%= header_link_to_announce %>
    <%= link_to icon_tag(:lock), destroy_user_session_path, method: :delete, remote: true, class: 'lock_link', id: 'lock_session' %>
    <%= link_to icon_tag(:signout), destroy_user_session_path, method: :delete, class: 'signout_link' %>
  </span>
</div>
