= simple_form_for @client, html: { class: 'form-horizontal' } do |f|

  = f.input :name, autofocus: true
  = f.input :surname
  = f.input :patronymic
  = f.input :birthday, as: :my_date, viewmode: 'years'
  = f.input :full_phone_number, as: :phone_number
  = f.input :phone_number
  = f.input :contact_phone
  = f.input :email
  = f.input :card_number
  = f.input :category, collection: client_categories_for_select
  #client_questionnaire_input{class: @client.card_number.blank? ? 'hidden' : ''}
    = f.input :email
    = f.input :birthday, as: :my_date, viewmode: 'years'
    .control-group
      %label.control-label= t 'clients.questionnaire'
      .controls= link_to icon_tag('print'), '#', class: 'btn', id: 'questionnaire_link', target: '_blank'

  = f.input :admin_info, input_html: {rows: 5} if current_user.any_admin?
  .control-group
    %label.control-label= Client.human_attribute_name :comment
    .controls= text_area_tag 'client[comment]', nil, rows: 5, class: 'input-xlarge'

  .control-group
    %label.control-label= Client.human_attribute_name(:comments)
    .controls= render @client.comments

  .form-actions
    = submit_button f
