= simple_form_for @client, remote: true, html: { id: 'client_form', class: 'form-horizontal' } do |f|
  .form-header
    = secondary_form_close_button :small
    %h3= t("clients.#{@client.new_record? ? 'new' : 'edit'}.title")

  .form-body
    = f.input :name, autofocus: true, input_html: { class: 'capitalize' }
    = f.input :surname, input_html: { class: 'capitalize' }
    = f.input :patronymic, input_html: { class: 'capitalize' }
    = f.input :full_phone_number, as: :phone_number
    = f.input :phone_number
    = f.input :category, collection: client_categories_for_select if can? :change_category, @client
    = f.input :card_number

    #client_questionnaire_input.hidden
      = f.input :email
      = f.input :birthday, as: :my_date, viewmode: 'years'
      .control-group
        %label.control-label= t 'clients.questionnaire'
        .controls= link_to icon_tag('print'), '#', class: 'btn', id: 'questionnaire_link', target: '_blank'

  .modal-footer
    = secondary_form_close_button
    = submit_button f
