= simple_form_for @client, html: { class: 'form-horizontal', remote: true } do |f|
  .modal-header
    %a.close{'data-dismiss' => 'modal', href: '#'}
      %i.icon-remove-sign
    %h3= auto_title

  .modal-body
    = f.input :name, autofocus: true
    = f.input :surname
    = f.input :full_phone_number, as: :phone_number
    = f.hidden_field :phone_number
    = f.input :card_number

    #client_questionnaire_input.control-group.hidden
      %label.control-label= t 'client.questionnaire'
      .controls= link_to icon_tag('print'), questionnaire_clients_path(format: 'pdf'), class: 'btn', target: '_blank'

  .modal-footer
    = f.button :submit, class: 'btn-primary'
