= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
- if @clients.any?

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= Client.human_attribute_name(:id)
        %th= Client.human_attribute_name(:name)
        %th= Client.human_attribute_name(:phone_number)
        %th= Client.human_attribute_name(:created_at)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @clients.each do |client|
        %tr
          %td= link_to client.id, client_path(client)
          %td= link_to client.name, client_path(client)
          %td= client.human_phone_number
          %td=l client.created_at, format: :long_d
          %td.btn-group
            = link_to_show client
            = link_to_edit client
            = link_to_destroy client

  = paginate @clients

- else
  = render 'shared/empty'
