- if @clients.any?

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= Client.human_attribute_name(:id)
        %th= Client.human_attribute_name(:name)
        %th= Client.human_attribute_name(:phone_number)
        %th= Client.human_attribute_name(:created_at)
        %th
    %tbody
      - @clients.each do |client|
        %tr
          %td= link_to client.id, client_path(client)
          %td= link_to client.short_name, client_path(client)
          %td= client.human_phone_number
          %td=l client.created_at, format: :date_time
          %td.btn-group
            - if can? :create, ServiceJob
              = link_to icon_tag('plus-sign'), new_service_job_path(service_job: {client_id: client.id}), class: 'btn btn-small'
            = link_to_show_small client
            = link_to_edit_small client
            = link_to_destroy_small client

  = paginate @clients, remote: true

- else
  = render 'shared/empty'
