= auto_header_tag @client
= simple_form_for @client, html: { class: 'form-horizontal' } do |f|

  = f.input :name, autofocus: true, readonly: current_user.not_admin?
  = f.input :surname, readonly: current_user.not_admin?
  = f.input :patronymic, readonly: current_user.not_admin?
  - if current_user.any_admin?
    = f.input :birthday, as: :my_date, viewmode: 'years'
    = f.input :full_phone_number, as: :phone_number
  - else
    = f.input :birthday, as: :my_date, readonly: true
    = f.input :full_phone_number, readonly: true
  = f.input :phone_number, readonly: current_user.not_admin?
  = f.input :email, readonly: current_user.not_admin?
  = f.input :category, collection: client_categories_for_select if can? :change_category, @client
  = f.input :card_number, readonly: current_user.not_admin?
  #client_questionnaire_input{class: @client.card_number.blank? ? 'hidden' : ''}
    = f.input :email
    .control-group
      %label.control-label= t 'clients.questionnaire'
      .controls= link_to icon_tag('print'), '#', class: 'btn', id: 'questionnaire_link', target: '_blank'

  .control-group
    %label.control-label= Client.human_attribute_name :client_characteristic
    .controls
      = f.simple_fields_for :client_characteristic do |ff|
        = ff.input_field :client_category_id, collection: ClientCategory.all, prompt: ClientCharacteristic.human_attribute_name(:client_category)
        = ff.error :client_category_id
        %br
        = ff.input_field :comment, placeholder: ClientCharacteristic.human_attribute_name(:comment), rows: 3
        = ff.error :comment
        %label.checkbox
          = ff.check_box :_destroy
          = t('destroy')

  = f.input :admin_info, input_html: {rows: 5} if current_user.any_admin?
  .control-group
    %label.control-label= Client.human_attribute_name :comment
    .controls= text_area_tag 'client[comment]', nil, rows: 5, class: 'input-xlarge'

  .control-group
    %label.control-label= Client.human_attribute_name(:comments)
    .controls= render @client.comments

  .form-actions
    = submit_button f
