:plain
  $('#client_search').val("#{@client.presentation}");
  $('#device_client_id, #sale_client_id').val("#{@client.id}");
  $('#order_customer_id').val("#{@client.id}");
  $('#edit_client_link').attr('href', "#{edit_client_path(@client)}");
  $('#edit_client_link').attr('data-remote', true);
  $('#clients_autocomplete_list').hide();
  $devices = $('#client_devices');
  if($devices.length > 0){
    $('.popover-content', $devices).html("#{j(client_devices_list(@client))}");
    if($('.client_devices_list', $devices).length > 0)
      $devices.show()
    else
      $devices.hide();
  }
-#
  if ($('#sale_value').length > 0) {
    $('#sale_value').next('.help-block').text("#{t('clients.available_discount')}: #{human_percent(@client.discount_value)}")
  }