.page-header
  %h1
    = link_back_to_index
    = @client.full_name
  %small
    = timestamp_string_for @client
    - if @client.creator.present?
      = "#{t('attributes.user')}: "
      = link_to(@client.creator.short_name, user_path(@client.creator))

%dl.dl-horizontal

  %dt= Client.human_attribute_name :birthday
  %dd= @client.birthday.present? ? human_date(@client.birthday) : '-'

  %dt= Client.human_attribute_name :phone_number
  %dd= @client.human_phone_number

  - if @client.contact_phone.present?
    %dt= Client.human_attribute_name :contact_phone
    %dd= human_phone @client.contact_phone

  %dt= Client.human_attribute_name :email
  %dd= @client.email.present? ? @client.email : '-'

  %dt= Client.human_attribute_name :card_number
  %dd= @client.card_number.present? ? @client.card_number : '-'

  %dt= Client.human_attribute_name :client_characteristic
  %dd
    = @client.category_name
    %br
    = @client.characteristic

  %dt= Client.human_attribute_name :category
  %dd= human_client_category @client

  %dt= Client.human_attribute_name :admin_info
  %dd= @client.admin_info.present? ? @client.admin_info : '-'

  %dt= Client.human_attribute_name :comments
  %dd= render @client.comments

#client_devices
  %table.table.table-bordered.table-hover.table-condensed
    %caption
      %h4= t 'users.serviced_devices'
    %thead
      %tr
        %th= t '.date'
        %th= Client.human_attribute_name :devices
        %th= Device.human_attribute_name :tasks
        %th= Device.human_attribute_name :location
    %tbody
      - @client.devices.each do |device|
        %tr
          %td= l device.created_at, format: :long_d
          %td= link_to device.presentation, device_path(device)
          %td
            %ul.unstyled
              - device.device_tasks.each do |device_task|
                %li= device_task.name
          %td= device.location_name

#purchases
  %table.table.table-bordered.table-condensed.table-hover
    %caption
      %h4= t 'users.purchased_devices'
    %thead
      %tr
        %th= t '.date'
        %th= t 'activerecord.models.device'
        %th= Sale.human_attribute_name :value
    %tbody
      - @client.purchases.each do |purchase|
        %tr
          %td= human_datetime purchase.sold_at
          %td
            = purchase.device_type_name
            %br
            %small= [purchase.serial_number, purchase.imei].join ' | '
          %td= human_currency purchase.value
    %tfoot
      %tr
        %td{colspan: 2}
          %strong= t 'total'
        %td= human_currency @client.purchases_sum
      - if @client.discount_value.present?
        %tr
          %td{colspan: 2}
            %strong= t 'clients.available_discount'
          %td= human_percent @client.discount_value

.form-actions
  - if can? :create, Device
    = link_to new_device_path(device: {client_id: @client.id}), class: 'btn' do
      = icon_tag('plus-sign') + t('.new_device')
  - if can? :create, Sale
    = link_to new_sale_path(sale: {client_id: @client.id}), class: 'btn' do
      = icon_tag('plus-sign') + t('.new_sale')
  - if can? :create, Order
    = link_to new_order_path(order: {customer_type: 'Client', customer_id: @client.id}), class: 'btn' do
      = icon_tag('plus-sign') + t('dashboard.new_order')
  = link_to_edit @client
  = link_to_destroy @client
