= auto_header_tag

%dl.dl-horizontal
  %dt= Client.human_attribute_name :name
  %dd= @client.name

  %dt= Client.human_attribute_name :phone_number
  %dd= @client.human_phone_number

.form-actions
  = link_to_edit @client
  = link_to_destroy @client
