.well.span6.offset5

  %h3= @device_type.full_name
  - if @device_type.is_childless?
    %hr
    = simple_form_for @device_type, html: { class: 'form-horizontal span8', remote: true },
                      defaults: { input_html: {class: 'span12'} } do |f|
      = f.input :code_1c
      = f.input :qty_for_replacement
      = f.input :qty_replaced, disabled: true, as: 'string'
      = f.input :qty_shop
      = f.input :qty_store
      = f.input :qty_reserve
      = f.input :expected_during

      .control-group
        .controls= submit_button f
