= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
- if @device_types.any?

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= DeviceType.human_attribute_name(:id)
        %th= DeviceType.human_attribute_name(:name)
        %th= DeviceType.human_attribute_name(:created_at)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @device_types.each do |device_type|
        %tr
          %td= link_to device_type.id, device_type_path(device_type)
          %td= link_to device_type.name, device_type_path(device_type)
          %td=l device_type.created_at, format: :long_d
          %td.btn-group
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_device_type_path(device_type), :class => 'btn btn-mini'
            = link_to t('.destroy', :default => t("helpers.links.destroy")), device_type_path(device_type), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

  = paginate @device_types
  
- else
  = render 'shared/empty'
