= auto_header_tag @department

= simple_form_for @department, html: { class: 'form-horizontal' } do |f|
  = f.association :city
  = f.association :brand
  = f.input :name
  = f.input :short_name
  = f.input :code, readonly: @department.persisted?
  = f.input :role, collection: department_roles_for_select, prompt: false
  = f.input :ip_network
  = f.input :url
  = f.input :printer
  .form-actions
    = submit_button f