- model_class = Department
.page-header
  %h1
    = link_back_to_index
    = @department.name

%dl.dl-horizontal
  %dt= model_class.human_attribute_name :code
  %dd= @department.code.blank? ? '-' : @department.code

  %dt= model_class.human_attribute_name :role
  %dd= human_department_role @department

  %dt= model_class.human_attribute_name :ip_network
  %dd= @department.ip_network

  %dt= model_class.human_attribute_name :url
  %dd= @department.url.blank? ? '-' : @department.url

  %dt= model_class.human_attribute_name :city
  %dd= @department.city.blank? ? '-' : @department.city

  %dt= model_class.human_attribute_name :address
  %dd= @department.address.blank? ? '-' : @department.address

  %dt= model_class.human_attribute_name :contact_phone
  %dd= human_phone @department.contact_phone

  %dt= model_class.human_attribute_name :schedule
  %dd= @department.schedule.blank? ? '-' : @department.schedule

  %dt= model_class.human_attribute_name :printer
  %dd= @department.printer.blank? ? '-' : @department.printer

- if can? :manage, @department
  .form-actions
    = link_to_edit @department
    = link_to_destroy @department
