= simple_form_for @setting, html: { class: 'form-horizontal' } do |f|
  = f.error_notification

  .form-inputs
    = f.association :department
    = f.input :name, collection: settings_options_collection
    = f.input :presentation
    = f.input :value, as: @setting.input_type

  .form-actions
    = submit_button f
