= simple_form_for @setting, html: { class: 'form-horizontal' } do |f|
  = f.error_notification

  .form-inputs
    = f.association :department
    = f.input :name
    = f.input :presentation
    = f.input :value_type, collection: Setting::VALUE_TYPES, prompt: false if f.object.new_record?
    = f.input :value, input_html: {rows: 3}

  .form-actions
    = submit_button f
