<% @result.each do |department_name, data| %>
  <table class="table table-bordered table-hover">
    <caption><%= department_name %></caption>
    <thead>
      <tr>
        <th>Название задачи</th>
        <th>Количество</th>
        <th>Итоговая сумма</th>
      </tr>
    </thead>
    <tbody>
      <% data[:tasks].values.each do |task| %>
        <tr>
          <td><%= task[:name] %></td>
          <td class="align_right"><%= task[:qty] %></td>
          <td class="align_right"><%= task[:sum].to_i %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">Итого:</td>
        <td class="align_right"><%= data[:total_sum].to_i %></td>
      </tr>
    </tfoot>
  </table>
<% end %>
