- model_class = Order

- if @orders.any?
  = sort_fields

  %table#orders-table.table
    %thead
      %tr
        %th= sortable 'id', model_class.human_attribute_name(:id)
        %th= sortable 'number', model_class.human_attribute_name(:number)
        %th= sortable 'department_id', model_class.human_attribute_name(:department)
        %th= model_class.human_attribute_name(:customer)
        %th= sortable 'object_kind', model_class.human_attribute_name(:object_kind)
        %th= sortable 'object', "#{model_class.human_attribute_name(:object)} / #{model_class.human_attribute_name(:approximate_price)}"
        %th= sortable 'quantity', model_class.human_attribute_name(:quantity)
        %th= sortable 'priority', model_class.human_attribute_name(:priority)
        %th= sortable 'status', model_class.human_attribute_name(:status)
        %th= sortable 'desired_date', model_class.human_attribute_name(:desired_date)
        %th= sortable 'created_at', model_class.human_attribute_name(:created_at)
        - if can? :modify, Order
          %th
    %tbody
      - @orders.each do |order|
        - row_class = order.status
        %tr{class: row_class, id: "edit_order_#{ order.id }_info"}
          %td= link_to order.id, order_path(order)
          %td= link_to order.number, order_path(order)
          %td= order.department_name
          %td= order.customer_presentation
          %td= t("orders.object_kinds.#{order.object_kind}")
          %td
            = order.object
            %br
            = human_currency order.approximate_price
            %br
            = link_to Order.human_attribute_name(:object_url), order.object_url, target: '_blank' if order.object_url.present?
          %td= order.quantity
          %td= (icon_tag(:star) * order.priority).html_safe
          %td= t("orders.statuses.#{order.status}")
          %td= order.desired_date.present? ? l(order.desired_date) : '-'
          %td
            = l order.created_at, format: :date_time
            - if order.user.present?
              %br
              = order.user.short_name
          %td.table-actions
            .btn-group
              -#= link_to_show_small order
              = link_to_edit_small order if can? :edit, order
              = link_to_destroy_small order if can? :destroy, order
            = button_to_change_order_status(order) unless order.canceled?
        %tr{class: row_class, id: "edit_order_#{ order.id }_comment"}
          %td{colspan: 12}= order.comment

        %tr{class: row_class, id: "edit_order_#{ order.id }_user_comment"}
          %td{colspan: 12}= order.user_comment

        %tr
          %td{colspan: 12}

  = paginate @orders if params[:status].present?

- else
  = render 'shared/empty'
