.page-header
  %h1
    = auto_title
    %small= link_to t('orders.spare_parts'), orders_path(kind: 'spare_parts')
    %small= link_to t('orders.not_spare_parts'), orders_path(kind: 'not_spare_parts')
    %small= link_to t('orders.statuses.archive'), orders_path(status: 'archive')
  = link_to_new Order

.table_filter.navbar.container
  .navbar-inner
    = form_tag orders_path, method: 'get', id: 'search_form', class: 'navbar-search form-search', remote: true do

      = hidden_field_tag :object_kind, params[:object_kind]
      = hidden_field_tag :status, params[:status]

      .input-append
        = text_field_tag :order_number, params[:order_number], id: 'search_order_input', class: 'search-query input-small', placeholder: t('orders.index.search_number_placeholder')
        %span.add-on.btn.clear_search_input
          %i.icon-remove

      .input-append
        = text_field_tag :customer, params[:customer], id: 'search_customer_input', class: 'search-query input-medium', placeholder: t('orders.index.search_customer_placeholder')
        %span.add-on.btn.clear_search_input
          %i.icon-remove

      .input-append
        = text_field_tag :object, params[:object], id: 'search_object_input', class: 'search-query input-medium', placeholder: t('orders.index.search_object_placeholder')
        %span.add-on.btn.clear_search_input
          %i.icon-remove

      .input-append
        = text_field_tag :user, params[:user], id: 'search_user_input', class: 'search-query input-small', placeholder: t('orders.index.search_user_placeholder')
        %span.add-on.btn.clear_search_input
          %i.icon-remove

    = orders_department_filter_tag
    = orders_object_kind_filter_tag
    = orders_status_filter_tag

#resource_table= render 'table'
