- model_class = Order
.page-header
  %h1
    = link_back_to_index
    = t('orders.order_num', num: @order.number)
    %small= link_to icon_tag(:time), history_order_path(@order), style: "text-decoration:none;", remote: true

  %span.help-block
    %small= timestamp_string_for @order
  = link_to icon_tag(:print) + t('tickets.link'), order_path(@order, format: 'pdf'), class: 'btn btn-info', target: '_blank'

%dl.dl-horizontal

  %dt= model_class.human_attribute_name :customer
  %dd= @order.customer_presentation

  %dt= model_class.human_attribute_name :object_kind
  %dd= t("orders.object_kinds.#{@order.object_kind}")

  %dt= model_class.human_attribute_name :object
  %dd= @order.object

  %dt= model_class.human_attribute_name :comment
  %dd= @order.comment.present? ? @order.comment : '-'

  %dt= model_class.human_attribute_name :desired_date
  %dd= @order.desired_date.present? ? l(@order.desired_date) : '-'

  %dt= model_class.human_attribute_name :status
  %dd= t("orders.statuses.#{@order.status}")

  %dt= model_class.human_attribute_name :user_comment
  %dd= @order.user_comment.present? ? @order.user_comment : '-'

- if can? :manage, model_class
  .form-actions
    = link_to_edit @order
    = link_to_destroy @order if can? :destroy, @order
