- model_class = Order
.page-header
  %h1
    = link_back_to_index
    = "Order №#{@order.number}"
    %small
      = link_to icon_tag(:calendar), history_order_path(@order), style: "text-decoration:none;", remote: true

  %span.help-block
    %small= timestamp_string_for @order

%dl.dl-horizontal

  %dt= model_class.human_attribute_name :customer
  %dd= @order.customer_name

  %dt= model_class.human_attribute_name :object_kind
  %dd= t("order.object_kinds.#{@order.object_kind}")

  %dt= model_class.human_attribute_name :object
  %dd= @order.object

  %dt= model_class.human_attribute_name :comment
  %dd= @order.comment.present? ? @order.comment : '-'

  %dt= model_class.human_attribute_name :desired_date
  %dd= @order.desired_date.present? ? l(@order.desired_date) : '-'

  %dt= model_class.human_attribute_name :status
  %dd= t("order.statuses.#{@order.status}")

- if can? :manage, model_class
  .form-actions
    = link_to_edit @order
    = link_to_destroy @order
