.page-header
  %h1
    = link_back_to_index
    = t('orders.order_num', num: @order.number)
    %small= link_to icon_tag(:time), history_order_path(@order), style: 'text-decoration:none;', remote: true

  %span.help-block
    %small= timestamp_string_for @order
  = link_to icon_tag(:print) + t('tickets.link'), order_path(@order, format: 'pdf'), class: 'btn btn-primary', target: '_blank'

.row-fluid
  .span6
    %table.attributes_table
      %tr
        %td= Order.human_attribute_name :department
        %td
          %strong.text-warning= @order.department_name

      - if @order.user.present?
        %tr
          %td= Order.human_attribute_name :user
          %td= @order.user.short_name

      %tr
        %td= Order.human_attribute_name :customer
        %td
          - if @order.customer_type == 'Client'
            = link_to @order.customer_presentation, client_path(@order.customer)
          - else
            = @order.customer_presentation

      %tr
        %td= Order.human_attribute_name :object_kind
        %td= t("orders.object_kinds.#{@order.object_kind}")

      %tr
        %td= Order.human_attribute_name :object
        %td= @order.object

      %tr
        %td= Order.human_attribute_name :object_url
        %td= @order.object_url.present? ? link_to(@order.object_url, @order.object_url) : '-'

      %tr
        %td= Order.human_attribute_name(:picture)
        %td= image_tag(@order.picture.medium.url) if @order.picture?

      %tr
        %td= Order.human_attribute_name :approximate_price
        %td= @order.approximate_price.presence || '-'

      %tr
        %td= Order.human_attribute_name :quantity
        %td= @order.quantity

      %tr
        %td= Order.human_attribute_name :comment
        %td= @order.comment.present? ? @order.comment : '-'

      %tr
        %td= Order.human_attribute_name :desired_date
        %td= @order.desired_date.present? ? l(@order.desired_date) : '-'

      %tr
        %td= Order.human_attribute_name :status
        %td= t("orders.statuses.#{@order.status}")

      %tr
        %td= Order.human_attribute_name :user_comment
        %td= @order.user_comment.present? ? @order.user_comment : '-'

      %tr
        %td= Order.human_attribute_name(:model)
        %td= @order.model || '-'

      %tr
        %td= Order.human_attribute_name(:prepayment)
        %td= @order.prepayment.present? ? number_to_currency(@order.prepayment) : '-'

      %tr
        %td= Order.human_attribute_name(:payment_method)
        %td= @order.payment_method.present? ? Order.human_attribute_name("payment_method.#{@order.payment_method}") : '-'

    - if can? :manage, Order
      .form-actions
        = link_to_edit @order if can? :edit, @order
        = link_to_destroy @order if can? :destroy, @order

  .span6
    #order_notes.order_notes= cell(OrderNote::Cell::Item, collection: @order.notes.oldest_first).()
    = cell(OrderNote::Cell::Form, @order.notes.build).()

:javascript
  $order_notes = $('.order_notes');
  $order_notes.scrollTop($order_notes[0].scrollHeight);