%p#notice= notice

%p
  %b Repair service:
  = @spair_part.repair_service
%p
  %b Item:
  = @spair_part.item
%p
  %b Quantity:
  = @spair_part.quantity
%p
  %b Warranty term:
  = @spair_part.warranty_term

= link_to 'Edit', edit_spair_part_path(@spair_part)
\|
= link_to 'Back', spair_parts_path
