= simple_form_for @product_group, html: { class: 'form-horizontal' }, remote: true do |f|
  .modal-header
    %a.close{'data-dismiss' => 'modal', href: '#'}
      %i.icon-remove-sign
    %h3= @product_group.new_record? ? t('product_groups.new.title') : t('product_groups.edit.title')

  .modal-body
    = f.hidden_field :parent_id
    = f.association :product_category
    = f.input :name
    = f.input :is_service
    = f.input :request_price

  .modal-footer
    = submit_button f
