.page-header
  %h1= t '.title'

- if @task_template.present?
  .row-fluid
    %h4.span12
      = link_back_to_index
      = @task_template.decorate.icon
      .btn-group
        = link_to_edit_small @task_template
        = link_to_destroy_small @task_template

#taks_templates_panel.row-fluid
  #task_templates.span
    - 2.times do |row|
      .row-fluid
        - 10.times do |col|
          .span.task_template= @task_templates.at row, col, editable: true, parent: @task_template