#auth_page
  %h2= t '.title', default: 'Sign in'

  %hr

  = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-inline' }) do |f|

    = f.input_field :username, required: false, label: false, autofocus: true, placeholder: resource.class.human_attribute_name(:username), class: 'input-medium'

    = f.input_field :password, required: false, label: false, placeholder: resource.class.human_attribute_name(:password), class: 'input-medium'

    = f.button :submit, t('.signin', default: 'Sign in')

    - if devise_mapping.rememberable?
      = f.label :remember_me do
        = f.input_field :remember_me, as: :boolean
        = resource.class.human_attribute_name(:remember_me)

  %hr

  = link_to icon_tag('credit-card') + t('.with_card', default: 'With Card'), '#', id: 'sign_in_by_card', class: 'btn btn-large', remote: false

#auth_image{class: ENV['DEPARTMENT_CODE']}
