= auto_header_tag
.table_filter.navbar.container
  .navbar-inner
    = form_tag deduction_acts_path, method: 'get', id: 'search_form', class: 'navbar-search form-search', remote: true do
      .input-append
        = text_field_tag :q, params[:q], id: 'search_deduction_act_input', class: 'search-query input-small', placeholder: DeductionAct.human_attribute_name(:id)
        %span.add-on.btn.clear_search_input
          %i.icon-remove
      = date_filter_fields
      = select_tag 'store_id', options_from_collection_for_select(Store.visible, 'id', 'name', params[:store_id]), prompt: DeductionAct.human_attribute_name(:store)
      %button.filter_button.btn.btn-info.btn-small= glyph('filter')

#resource_table= render 'table'