%table#device_tasks.table.table-bordered.table-condensed.table-hover
  %caption
    %h4= ServiceJob.human_attribute_name :tasks
  %thead
    %tr
      %th= DeviceTask.human_attribute_name :done
      %th= DeviceTask.human_attribute_name :task
      %th= DeviceTask.human_attribute_name :cost
      %th= DeviceTask.human_attribute_name :comment
      - if superadmin? || able_to?(:edit_tasks_user_comment)
        %th= DeviceTask.human_attribute_name :user_comment
      - if can?(:remove_device_tasks, f.object)
        %th
  %tbody
    = f.simple_fields_for :device_tasks do |ff|
      = render 'device_task', f: ff
  %tfoot
    %tr
      %td{colspan: 2}= t 'total'
      %td.align_right= @service_job.tasks_cost
      %td{colspan: can?(:remove_device_tasks, f.object) ? 2 : 1}
= link_to_add_fields t('service_jobs.add_task'), '#device_tasks tbody', f, :device_tasks
