<div class="page-header">
  <h1>
    <%= t '.title', default: ServiceJob.model_name.plural %>
    <small><%= link_to t('.archive'), service_jobs_path(location: 'archive') %></small>
  </h1>
  <%= link_to_new ServiceJob if can? :create, ServiceJob %>
</div>

<div class="table_filter navbar container">
  <div class="navbar-inner">
    <%= form_tag service_jobs_path, method: 'get', id: 'search_form', class: 'navbar-search form-search', remote: true do %>
      <%= hidden_field_tag :location, params[:location] %>

      <div class="input-append">
        <%= text_field_tag :ticket, params[:ticket], id: 'search_ticket_input', class: 'search-query input-small', placeholder: ServiceJob.human_attribute_name(:ticket_number) %>
        <span class="add-on btn clear_search_input">
          <i class="icon-remove"></i>
        </span>
      </div>

      <div class="input-append">
        <%= text_field_tag :service_job, params[:service_job], id: 'search_service_job_input', class: 'search-query input-medium', placeholder: t('service_jobs.index.device_search_placeholder') %>
        <span class="add-on btn clear_search_input">
          <i class="icon-remove"></i>
        </span>
      </div>

      <div class="input-append">
        <%= text_field_tag :client, params[:client], id: 'search_client_input', class: 'search-query input-medium', placeholder: t('service_jobs.index.client_search_placeholder') %>
        <span class="add-on btn clear_search_input">
          <i class="icon-remove"></i>
        </span>
      </div>

      <%= select_tag :status, service_job_status_options(params[:status]), prompt: 'Статус', class: 'input-small' %>

      <div id="location_input" class="dropdown-input input-large d-inline-block" style="margin-right: 30px;">
        <%= hidden_field_tag :location_id, params[:location_id] %>
        <span class="btn-group">
          <button id="locations_select_button" class="btn dropdown-toggle" style="overflow: hidden;">
            <span id="location_value" class="pull-left">
              <%= @location_name %>
            </span>
            <span class="caret pull-right"></span>
          </button>

          <ul id="locations_list" class="dropdown-menu">
            <%= render 'locations/list', locations: @locations %>
          </ul>

          <ul id="departments_list" class="dropdown-menu hidden">
            <% Department.selectable.each do |department| %>
              <li>
                <%= link_to department.full_name,
                            locations_path(department_id: department.id, visible: true),
                            remote: true %>
              </li>
            <% end %>
          </ul>
        </span>
      </div>

      <%= button_tag glyph(:search), class: 'btn btn-info', type: 'submit' %>
    <% end %>
  </div>

<!--    %ul.nav-->
<!--      %li.dropdown-->
<!--        = link_to "#{@location_name.html_safe} #{caret_tag}", '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'-->
<!--        %ul#locations_list.dropdown-menu-->
<!--          = render 'locations/service_jobs_list', locations: @locations-->
<!--        %ul#departments_list.dropdown-menu.hidden-->
<!--          - Department.selectable.each do |department|-->
<!--            %li= link_to department.full_name, locations_path(department_id: department.id, visible: true), remote: true-->
</div>

<div id="resource_table"><%= render 'table' %></div>
