- service_job = @service_job.decorate
.page-header
  %h1
    = link_back_to_index
    = service_job.device_name
    %small
      = link_to icon('eye-open'), service_job_viewings_path(@service_job), title: t('service_jobs.viewings'), class: 'no-decoration', remote: true if policy(ServiceJobViewing).index?
      = history_link_to history_service_job_path(@service_job)
      = link_to icon_tag('file-text-alt'), service_job_device_notes_path(@service_job), class: 'no-decoration', remote: true

  %span.help-block
    %small= timestamp_string_for @service_job
  = link_to "#{icon_tag(:file)} #{t('service_jobs.work_job')}".html_safe, work_order_service_job_path(@service_job, format: 'pdf'), class: 'btn btn-info', target: '_blank'
  = link_to "#{icon_tag(:file)} #{t('service_jobs.completion_act')}".html_safe, completion_act_service_job_path(@service_job, format: 'pdf'), class: 'btn btn-info', target: '_blank' if @service_job.at_done? || @service_job.in_archive?
  -if can? :print_receipt, @service_job
    = link_to icon_tag(:print) + t('tickets.link'), service_job_path(@service_job, format: 'pdf', print: true), class: 'btn btn-primary', target: '_blank', id: 'print_service_job_ticket'
    = link_to icon_tag('eye-open') + t('tickets.link'), service_job_path(@service_job, format: 'pdf'), class: 'btn btn-info pull-right', target: '_blank', id: 'show_service_job_ticket'

  = new_sms_notification_link(@service_job) if @service_job.at_done?

.row-fluid
  .span4
    %table.attributes_table
      %tr{class: ('text-error' if @service_job.transferred?)}
        %td= ServiceJob.human_attribute_name :initial_department
        %td= @service_job.initial_department&.name
      %tr
        %td= ServiceJob.human_attribute_name :department
        %td= @service_job.department_name
      %tr
        %td= t 'service_jobs.itunes_string'
        %td= text_field_tag 'itunes_string', itunes_string_for(@service_job)
      %tr
        %td= ServiceJob.human_attribute_name :client
        %td= link_to @service_job.client.presentation, @service_job.client
      %tr
        %td= ServiceJob.human_attribute_name :contact_phone
        %td.tel-info__add
          %span.tel-info__add__value
            = human_phone @service_job.contact_phone
          - if @service_job.contact_phone.length > 1
            #tel_info_add_list.tel-info__add__list
              .tel-info__add__list__main-item
                = image_tag('/tel_in.jpg', width: '60')
              .tel-info__add__list__items
                %a{ href: "http://wa.me/#{human_phone(@service_job.contact_phone.gsub(/\D/, ''))}", target: '_blank' }
                  = image_tag('/tel_tel.jpg', width: '60')
                %a{ href: "tel:8#{human_phone(@service_job.contact_phone)[2..-1].gsub(/\D/, '')}" }
                  = image_tag('/tel_call.jpg', width: '60')
                = image_tag('/tel_copy.jpg', width: '60', class: 'js--copy-number')

      %tr
        %td= ServiceJob.human_attribute_name :ticket_number
        %td= @service_job.ticket_number
      %tr
        %td= ServiceJob.human_attribute_name :security_code
        %td= @service_job.security_code
      %tr
        %td= ServiceJob.human_attribute_name :serial_number
        %td= service_job.serial_number
      %tr
        %td= ServiceJob.human_attribute_name :imei
        %td= service_job.imei
      %tr
        %td= ServiceJob.human_attribute_name :case_color
        %td= case_color_presentation @service_job.case_color

      - if @service_job.user_id == current_user.id
        %tr
          %td= ServiceJob.human_attribute_name :app_store_pass
          %td= @service_job.app_store_pass.blank? ? '-' : @service_job.app_store_pass

      %tr
        %td= ServiceJob.human_attribute_name :is_tray_present
        %td= @service_job.is_tray_present ? icon_tag('check') : icon_tag('check-empty')

      %tr
        %td= ServiceJob.human_attribute_name :carrier
        %td= @service_job.carrier.try(:name)

      %tr
        %td= ServiceJob.human_attribute_name :data_storages
        %td= service_job.data_storages

      %tr
        %td= ServiceJob.human_attribute_name :comment
        %td.service_job_comment= @service_job.comment

      - if can? :read_tech_notice, @service_job
        %tr
          %td= ServiceJob.human_attribute_name :tech_notice
          %td= @service_job.tech_notice
      %tr
        %td= ServiceJob.human_attribute_name :location
        %td= @service_job.location_name || '-'

      %tr
        %td= ServiceJob.human_attribute_name :keeper
        %td= @service_job.keeper.try(:short_name) || '-'

      %tr
        %td= ServiceJob.human_attribute_name :return_at
        %td= human_datetime @service_job.return_at

      - if @service_job.notify_client?
        %tr
          %td= ServiceJob.human_attribute_name :notify_client
          %td= ServiceJob.human_attribute_name :client_notified if @service_job.client_notified?

      %tr
        %td= ServiceJob.human_attribute_name :email
        %td= @service_job.email || '-'

      - if @service_job.substitute_phone.present?
        %tr
          %td= ServiceJob.human_attribute_name :substitute_phone
          %td= link_to @service_job.substitute_phone.presentation, @service_job.substitute_phone

      %tr
        %td= t 'service_jobs.sales_info'
        %td= sales_info @service_job

    %table.table.table-bordered.table-condensed.table-hover
      %caption
        %h4= ServiceJob.human_attribute_name :tasks
      %thead
        %tr
          %th= Task.human_attribute_name :name
          %th= DeviceTask.human_attribute_name :comment
          %th= DeviceTask.human_attribute_name :user_comment
          %th= DeviceTask.human_attribute_name :cost
          %th= DeviceTask.human_attribute_name :done_at
          %th= DeviceTask.human_attribute_name :created_at
          %th
      %tbody
        - @service_job.device_tasks.ordered.each do |device_task|
          %tr{class: row_class_for_task(device_task)}
            %td= device_task.task_name
            %td= h device_task.comment
            %td
              %strong.user_comment= h device_task.user_comment
            %td.align_right= device_task.cost
            %td= l device_task.done_at, format: :date_time unless device_task.done_at.blank?
            %td= l device_task.created_at, format: :date_time
            %td{style: "background:none;"}
              = history_link_to history_device_task_path(@service_job, device_task)
      %tfoot
        %tr
          %td{colspan: 3}= t 'total'
          %td.align_right= @service_job.tasks_cost
          %td{colspan: 4}

    - if policy(@service_job).view_repair_parts?
      %table.table.table-bordered.table-condensed.table-hover
        %caption
          %h4= ServiceJob.human_attribute_name :repair_parts
        %thead
          %tr
            %th= RepairPart.human_attribute_name :name
            %th= RepairPart.human_attribute_name :quantity
            %th= RepairPart.human_attribute_name :defect_qty
        %tbody
          - @service_job.repair_parts.each do |repair_part|
            %tr
              %td= link_to repair_part.name, repair_part.product
              %td= repair_part.quantity
              %td= repair_part.defect_qty

  .span4
    %table.attributes_table
      - %i[client_address trademark device_group completeness claimed_defect device_condition client_comment type_of_work estimated_cost_of_repair].each do |attr|
        - unless @service_job.send(attr).blank?
          %tr
            %td= ServiceJob.human_attribute_name attr
            %td= @service_job.send(attr)

  .span4
    #sms_notification_form_container
    #device_notes_container= render 'device_notes'
    = cell(Service::Job::Cell::Feedbacks, @service_job)

.form-actions
  = link_to_edit @service_job
  = button_to_archive_service_job @service_job if @service_job.at_done?
  = link_to_destroy @service_job if can? :destroy, @service_job
