- model_class = OptionType
= auto_header_tag

%table.table.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name :name
      %th= model_class.human_attribute_name :code
      %th= model_class.human_attribute_name :position
      %th
  %tbody
    - @option_types.each do |option_type|
      %tr
        %td= option_type.name
        %td= option_type.code
        %td= option_type.position
        %td.btn-group
          = link_to_edit_small option_type
          = link_to_destroy_small option_type