= simple_form_for [@sale, @payment], html: { id: 'payment_form', class: 'form-horizontal' }, remote: true do |f|
  .modal-header
    %h3= "#{t('activerecord.models.payment')} - #{human_payment_kind(@payment)}"

  .modal-body
    - if @payment.errors[:base].present?
      .alert.alert-danger= @payment.errors[:base].join(' ')

    = f.hidden_field :kind
    = f.input :value, readonly: true
    = f.association :bank if f.object.is_by_bank?
    - if f.object.is_gift_certificate?
      = f.input :gift_certificate, as: :gift_certificate

    #sale_calculation_amount{data: {amount: @sale.calculation_amount}}= t 'sales.calculation_amount', amount: human_currency(@sale.calculation_amount, false)
  .modal-footer
    = link_to t('helpers.links.cancel'), '#', 'data-dismiss' => 'modal', class: 'btn'
    = f.submit t('done'), id: 'payment_submit_button', class: 'btn btn-primary'