%tr.payment_fields.fields{class: f.object.kind}
  %td.kind= f.input :kind, label: false, collection: payment_kinds_for_select, input_html: {class: 'payment_kind'}, prompt: false
  %td.value= f.input :value, label: false, input_html: {class: 'input-small'}
  %td.addl_attr
    .bank_field{class: f.object.is_by_bank? ? '' : 'hidden'}= f.association :bank, label: false
    .gift_certificate_field{class: f.object.is_gift_certificate? ? '' : 'hidden'}= f.input :gift_certificate, as: :gift_certificate, label: false
    .trade_in_field{class: f.object.is_trade_in? ? '' : 'hidden'}
      = f.input :device_name
      = f.input :device_number
      = f.input :client_info
      = f.input :appraiser
      = f.input :device_logout, as: :boolean, label: false, inline_label: t('activerecord.attributes.payment.device_logout')