%h1 Listing payments

%table
  %tr
    %th Payment type
    %th Value
    %th Bank
    %th
    %th
    %th

  - @payments.each do |payment|
    %tr
      %td= payment.payment_type
      %td= payment.value
      %td= payment.bank
      %td= link_to 'Show', payment
      %td= link_to 'Edit', edit_payment_path(payment)
      %td= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Payment', new_payment_path
