- model_class = Price
= auto_header_tag

%table.table.table-striped.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:file)
      %th= model_class.human_attribute_name(:created_at)
      - if can? :manage, Price
        %th
  %tbody
    - @prices.each do |price|
      %tr
        %td= link_to price.id, price_path(price)
        %td= link_to_price price
        %td= l price.created_at, format: :date_time
        - if can? :manage, Price
          %td.btn-group
            = link_to_edit_small price
            = link_to_destroy_small price
