%table#timesheet_table.table.table-bordered.table-hover
  %thead
    %th= t 'attributes.id'
    %th= t 'attributes.fio'
    %th= User.human_attribute_name :job_title
    - (@timesheet_date..@timesheet_date.end_of_month).each do |date|
      %th
        = date.day
        %br
        = t('date.abbr_day_names')[date.wday-1]
    %th= t 'timesheet_days.days_count'
    %th= t 'timesheet_days.hours_count'
    %th= t 'timesheet_days.sickness_day'
    %th= t 'timesheet_days.lateness'
  %tbody
    - @users.each_with_index do |user, index|
      = timesheet_row user, @timesheet_date, Time.current, index+1
