%p#notice= notice

%p
  %b Feature type:
  = @feature_value.feature_type
%p
  %b Name:
  = @feature_value.name

= link_to 'Edit', edit_feature_value_path(@feature_value)
\|
= link_to 'Back', feature_values_path
