= auto_header_tag @payment_type
= simple_form_for @payment_type, html: {class: 'form-horizontal'} do |f|
  = f.input :name
  = f.input :kind, collection: payment_type_kinds_for_select
  .form-actions
    = submit_button f