= simple_form_for @stolen_phone, html: { class: 'form-horizontal' } do |f|
  - if f.object.errors.any?
    .alert.alert-error= f.object.errors.full_messages.join('. ')
  = f.input :imei, autofocus: true
  = f.input :serial_number
  = f.input :client, as: :client, wrapper_html: {id: 'client_fields'}, no_devices: true
  = f.input :client_comment, as: :text, input_html: {rows: 5}
  = f.input :comment, as: :text, input_html: {rows: 5}
  .form-actions
    = submit_button f