- model_class = StolenPhone

- if @stolen_phones.any?

  %table.table.table-striped.table-hover
    %thead
      %tr
        -#%th= model_class.human_attribute_name(:imei)
        -#%th= model_class.human_attribute_name(:serial_number)
        %th= model_class.human_attribute_name(:item)
        %th= model_class.human_attribute_name(:client)
        %th= model_class.human_attribute_name(:created_at)
        - if can? :manage, model_class
          %th
    %tbody
      - @stolen_phones.each do |stolen_phone|
        %tr
          -#%td= link_to stolen_phone.imei, stolen_phone
          -#%td= link_to stolen_phone.serial_number, stolen_phone if stolen_phone.serial_number.present?
          %td= link_to stolen_phone.item_presentation, stolen_phone
          %td= link_to stolen_phone.client_presentation, stolen_phone.client if stolen_phone.client.present?
          %td=l stolen_phone.created_at, format: :date_time
          - if can? :manage, model_class
            %td.btn-group
              = link_to_show_small stolen_phone
              = link_to_edit_small stolen_phone
              = link_to_destroy_small stolen_phone

  = paginate @stolen_phones, remote: true

- else
  = render 'shared/empty'
