= simple_form_for [@form.causer, @form], remote: true, html: {class: 'form-inline form-horizontal'} do |f|
  .modal-header
    = button_to_close_modal
    %h3= auto_title @form.model

  .modal-body
    = f.input :causer_id, collection: fault_causers_collection, label_method: :short_name, as: :select, label: Fault.human_attribute_name(:causer)
    = f.input :date, as: :my_date
    = f.input :kind_id, collection: fault_kinds_collection, as: :select, label: Fault.human_attribute_name(:kind)
    = f.input :comment, as: :text

  .modal-footer= submit_button f