.modal-header
  = button_to_close_modal
  %h3= t('service_jobs.viewings')

.modal-body
  %table.table.table-hover
    %thead
      %tr
        %th= t('attributes.time')
        %th= t('attributes.user')
        %th IP
    %tbody
      - @service_job_viewings.each do |viewing|
        %tr
          %td= l(viewing.time, format: :long_d)
          %td= viewing.user_presentation
          %td= viewing.ip
