- if substitute_phones.present?
  - model_class = SubstitutePhone

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= model_class.human_attribute_name :department
        %th= model_class.human_attribute_name :name
        %th= model_class.human_attribute_name :serial_number
        %th= model_class.human_attribute_name :imei
        - if policy(model_class).manage?
          %th
    %tbody
      = cell(SubstitutePhone::Cell::Preview, collection: substitute_phones).()

  -#= paginate @substitute_phones, remote: true

- else
  = render 'shared/empty'