%h1
  = auto_title
  = link_to_new SubstitutePhone

.table_filter.navbar.container
  .navbar-inner
    = form_tag substitute_phones_path, method: :get, id: 'search_form', class: 'navbar-search form-search', remote: true do

      .input-append
        = text_field_tag :query, params[:query], class: 'search-query input-xxlarge', placeholder: t('.query_placeholder')
        %span.add-on.btn.clear_search_input
          %i.icon-remove

#resource_table= render partial: 'table', locals: {substitute_phones: @substitute_phones}