= auto_header_tag @top_salable

= simple_form_for @top_salable, html: {id: 'top_salable_form', class: 'form-horizontal'} do |f|

  .form-inputs
    = f.hidden_field :position
    = f.hidden_field :parent_id
    = f.input :color, as: :color
    = f.input :type, collection: [[t('.group'), 'Group'], [t('.product'), 'Product']], prompt: false

    #product_select_field.control-group{class: @top_salable.product.present? ? '' : 'hidden'}
      = f.hidden_field :product_id
      %label.control-label= t 'activerecord.models.product'
      .controls= link_to @top_salable.product_name || '...', choose_products_path(form: 'top_salable', is_product_only: true), remote: true, id: 'top_salable_product_select', class: 'btn'

    #group_select_field.control-group{class: @top_salable.product.present? ? 'hidden' : ''}
      = f.input :name

  .form-actions
    = link_to_destroy @top_salable
    = submit_button f
