= auto_header_tag @category.new_record? ? t('categories.new.title') : t('categories.edit.title')

= simple_form_for @category, html: { class: 'form-horizontal' } do |f|
  = f.input :name
  = f.association :feature_types, as: :check_boxes
  .form-actions
    = submit_button f
