- model_class = Category
= auto_header_tag

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name :id
      %th= model_class.human_attribute_name :name
      %th= model_class.human_attribute_name :feature_types
      %th= model_class.human_attribute_name :created_at
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= link_to category.id, edit_category_path(category)
        %td= link_to category.name, edit_category_path(category)
        %td= category.feature_types.collect { |ft| ft.name }.join ', '
        %td= human_datetime category.created_at
        %td.btn-group
          = link_to_edit_small category
          = link_to_destroy_small category
