.page-header
  %h1= t '.title'

= form_tag case_pictures_path, method: :post, multipart: true do
  = file_field_tag :file, accept: 'image/png,image/jpeg'
  %br
  = select_tag :model, options_for_select([['iPhone 5', 'iphone5'], ['iPhone 4', 'iphone4']])
  %label.checkbox
    = check_box_tag :contour
    = t '.contour'

  .form-actions
    = submit_tag t('.submit'), class: 'btn btn-primary'