= simple_form_for @product, remote: true, html: { id: 'product_form', class: 'form-horizontal remote' } do |f|
  = f.hidden_field :parent_id
  = f.association :category, as: :select
  = f.input :name
  = f.input :code

  .form-actions
    = submit_button f
    = link_to t('close'), '#', class: 'btn close_product_form'
