%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= t 'attributes.date'
      %th= t 'attributes.price'
      %th= t 'attributes.price_type'
  %tbody
    - @product_prices.each do |price|
      %tr{class: price.is_purchase? ? 'info' : (price.is_retail? ? 'success' : '')}
        %td= human_datetime price.date
        %td= human_currency price.value
        %td= price.price_type.name

= paginate @product_prices, remote: true
