= auto_header_tag @product
= simple_form_for @product, html: { class: 'form-horizontal' } do |f|
  = f.hidden_field :product_group_id
  = f.input :name
  = f.input :code

  -##feature_types.well.well-small{class: (@product.is_feature_accounting? ? '' : ' hidden')}
  -#  - if @product.is_feature_accounting?
  -#    %strong= Product.human_attribute_name :features
  -#    = f.simple_fields_for :features do |ff|
  -#      = ff.input :value, label: ff.object.name

  .form-actions
    = submit_button f
