= auto_header_tag @product
= simple_form_for @product, html: { class: 'form-horizontal' } do |f|
  = f.input :name
  = f.input :code
  = f.input :is_service
  = f.input :request_price
  = f.input :category, as: :select
  = f.input :group, as: :select
  .form-actions
    = submit_button f
