- if @item.present?
  $selector = $('.product_selector.active');
  $('input.item_id', $selector).val("#{@item.id}");
  $('.product_select_button', $selector).text("#{@item.name}");
  $('.product_select_button', $selector).attr('title', "#{@item.name}");
  $selector.closest('.product').find('.features').text("#{@item.features_presentation}");
  $row = $selector.closest('tr');
  $('td.available_quantity', $row).text("#{remains_presentation(@item.product, @store)}");
  - if @form == 'sale'
    $('td.quantity input', $row).val(1);
    - if @item.feature_accounting
      $('td.quantity input', $row).attr('readonly', true);
    - else
      $('#sale_items td.quantity input', $row).removeAttr('readonly');
    -#- if @store.present?
    qty = Number($('td.quantity input', $row).val());
    price = Number("#{@item.actual_retail_price}");
    discount = Number("#{@item.discount_for(@client)}");
    $('td.price', $row).text(price);
    $('.sale_item_discount', $row).val(discount);
    $('td.sum', $row).text(qty*(price-discount));
    calculate_sale_items_total_sum();
  hideModal();
- else
  - if @product.present?
    $('#product_choose_form .product_row.info').removeClass('info');
    $("#product_choose_form .product_row[data-product=#{@product.id}]").addClass('info');
    $('#product_choose_form #selected_product').removeAttr('disabled').val("#{@product.id}");
    - if @form == 'revaluation_act'
      $selector = $('.product_selector.active');
      $('input.product_id', $selector).val("#{@product.id}");
      $('.product_select_button', $selector).text("#{@product.name}");
      $('.product_select_button', $selector).attr('title', "#{@product.name}");
      $row = $selector.closest('tr');
      hideModal();
    - elsif @product.feature_accounting
      $('#product_choose_form  #product_items_table').html("#{j(render('items_table'))}");
      $('#product_choose_form  #product_items').show();
