- if @item.present?
  $selector = $('.product_selector.active');
  $('input.item_id', $selector).val("#{@item.id}");
  $('.product_select_button', $selector).text("#{@item.name}");
  $selector.closest('.product').find('.features').text("#{@item.features_presentation}");
  $row = $selector.closest('tr');
  $('td.available_quantity', $row).text("#{@item.available_quantity(@store)} (#{@item.available_quantity})");
  - if @form == 'sale'
    - if @item.is_feature_accounting?
      $('td.quantity input', $row).val(1);
      $('td.quantity input', $row).attr('readonly', true);
    - else
      $('td.quantity input', $row).removeAttr('readonly');
    - if @store.present?
      qty = Number($('td.quantity input', $row).val());
      price = Number("#{@item.actual_price(@store.price_types.retail.first)}");
      $('td.price input', $row).val(price);
      $('td.sum input', $row).val(qty*price);
  hideModal();

- else
  - if @product.present?
    $('#product_choose_form .product_row.info').removeClass('info');
    $("#product_choose_form .product_row[data-product=#{@product.id}]").addClass('info');
    $('#product_choose_form #selected_product').removeAttr('disabled').val("#{@product.id}");
    - if @product.is_feature_accounting?
      $('#product_choose_form  #product_items_table').html("#{j(render('items_table'))}");
      $('#product_choose_form  #product_items').show();
