- is_product_only = params[:is_product_only] == 'true'
- if @product.present? and is_product_only or @item.present?
  - if params[:form] == 'top_salable'
    $('#top_salable_product_id').val("#{@product.id}");
    $('#top_salable_product_select').text("#{@product.name}");
    hideModal();
  - elsif params[:form] == 'order'
    - parent_input_id = params[:parent_input_id] || 'order_object'
    $("##{parent_input_id}").val("#{j(@product.name.html_safe)}");
    hideModal();
  - elsif params[:form] == 'print_tags'
    $('#print_tags_form').attr('action', "#{item_path(@item, format: 'pdf')}");
    $('#product_name').text("#{@item.name}");
    $('#price').val("#{@item.retail_price}");
    $('#print_tags_form').find('button').removeAttr('disabled');
    hideModal();
  - else
    $selector = $("##{params[:association]}>tbody");
    - item = is_product_only ? @product : @item
    - if is_product_only
      == if($("tr[data-product=#{@product.id}]:visible", $selector).length > 0){
    - else
      == if($("tr[data-item=#{@item.id}]:visible", $selector).length > 0){
    :plain
        alert("#{t('documents.errors.product_already_present')}");
      }
      else{
        if($("#movement_act_movement_items_attributes_#{item.id}_quantity").length > 0){
          $("#movement_act_movement_items_attributes_#{item.id}_quantity")[0].value ++
        }else{
          $selector.append("#{j(product_fields(params[:form], params[:association], is_product_only ? @product : @item, params[:options]))}");
          enumerate_table('table.enumerable');
          if($('#repair_service_form').length > 0){
            calculateTableTotal('#spare_parts', '.cost', '.quantity');
          }
          //calculateSaleItemsTotal();
          if($('#sale_form').length > 0){
            saveSale();
            $.get("/products/#{@product.id}/related");
          }
        };
        $("#item_search_field")[0].value = null
      }
- elsif @product.present?
  :plain
    $('#product_choose_form .product_row.info').removeClass('info');
    $("#product_choose_form .product_row[data-product=#{@product.id}]").addClass('info');
    $('#product_choose_form #selected_product').removeAttr('disabled').val("#{@product.id}");
  - if @product.feature_accounting
    :plain
      $('#product_choose_form  #product_items_table').html("#{j(render('items_table'))}");
      $('#product_choose_form  #product_items').show();
