= auto_header_tag @product, @product.name
- model_class = Product

%dl.dl-horizontal
  %dt= model_class.human_attribute_name(:code)
  %dd= @product.code.blank? ? '-' : @product.code

  %dt= model_class.human_attribute_name(:actual_price)
  %dd= @product.actual_price(:sale).present? ? human_currency(@product.actual_price(:sale)) : '-'

  -#%dt= model_class.human_attribute_name(:product_group)
  -#%dd= @product.product_group.name

  - unless @product.feature_accounting
    %dt= Item.human_attribute_name(:barcode)
    %dd= @product.item.barcode

- if @product.feature_accounting
  %hr
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th= Item.human_attribute_name(:barcode)
        - @product.feature_types.each do |feature_type|
          %th= feature_type.name
    %tbody
      - @product.items.each do |item|
        %tr
          %td= item.barcode
          - item.features.each do |feature|
            %td= feature.value

-#%hr
-#%h4= t 'attributes.prices'

-##product_prices= render 'prices_table'

.form-actions
  = link_to_edit @product
  = link_to_destroy @product
