%h1 Listing features

%table
  %tr
    %th Feature type
    %th Product
    %th Value
    %th
    %th
    %th

  - @features.each do |feature|
    %tr
      %td= feature.feature_type
      %td= feature.product
      %td= feature.value
      %td= link_to 'Show', feature
      %td= link_to 'Edit', edit_feature_path(feature)
      %td= link_to 'Destroy', feature, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Feature', new_feature_path
