- if @repair_services.any?
  = form_tag mass_update_repair_services_path, method: :put do
    %table#repair_services_table.table.table-hover
      %thead
        %tr
          %th= RepairService.human_attribute_name(:name)
          %th= RepairService.human_attribute_name(:price)
          %th
      %tbody
        - @repair_services.each do |repair_service|
          %tr
            %td.name= repair_service.name
            %td.price= number_field_tag "repair_services[#{repair_service.id}]", repair_service.price
            %td.btn-group
              = link_to_edit_small repair_service
              = link_to_destroy_small repair_service
      %tfoot
        %tr
          %th
          %th{colspan: 2}= submit_tag t('update'), class: 'btn btn-primary'