.modal-header
  %h3
    = button_to_close_modal
    = t 'sales.choose_title'

.modal-body
  %table.table.table-condensed
    %thead
      %tr
        %th= Sale.human_attribute_name :id
        %th= Sale.human_attribute_name :date
        %th= Sale.human_attribute_name :sum
    %tbody
      - @sales.each do |sale|
        - url = (params[:act] == 'return_check') ? return_check_sale_path(sale) : edit_sale_path(sale)
        %tr
          %td= link_to sale.id, url
          %td= link_to human_datetime(sale.date), url
          %td= link_to human_currency(sale.calculation_amount), url