#sale_form_content.span8
  = form_for @sale, remote: true, html: {id: 'sale_form', class: @sale.kind} do |f|
    = f.hidden_field :client_id
    = f.hidden_field :store_id
    = f.hidden_field :date
    = f.hidden_field :is_return
    #sale_header_row.row-fluid
      .span2.field_label= t 'sales.doc_kind'
      .span4= select_tag 'sale_kind', options_for_sale_kind_select(@sale.kind), include_blank: false, disabled: !@sale.is_new?
      .span2.field_label= t 'sales.doc_num'
      #sale_id.span4= @sale.id
    #sale_result_row.row-fluid{class: @sale.kind}
      .span12
        %span.span3= t 'sales.total'
        %span#sale_result_value.span9= human_currency @sale.calculation_amount, false
    #sale_details_header.row-fluid
      .span3= Sale.human_attribute_name :client
      .span3= t 'sales.sum'
      .span3= t 'sales.total_discount'
      .span3= t 'sales.discounted_sum'
    #sale_details.row-fluid
      #sale_client_cell.span3
        #sale_client_name= @sale.client_short_name
        #sale_client_category= human_client_category @sale.client
      .span3
        %span#sale_sum_cell= human_currency @sale.total_sum, false
      .span3
        %span#sale_discount_cell= human_currency @sale.discount_sum, false
      .span3
        %span#sale_discounted_sum_cell= human_currency @sale.calculation_amount, false
    #sale_items_row.row-fluid
      .span12
        %table#sale_items.enumerable.table.table-condensed.table-bordered.table-hover
          %thead
            %tr
              %th.num= t 'sales.num'
              %th.code= Product.human_attribute_name :code
              %th.name= Product.human_attribute_name :name
              %th.quantity= SaleItem.human_attribute_name :quantity
              %th.price= SaleItem.human_attribute_name :price
              %th.sum= SaleItem.human_attribute_name :sum
          %tbody= f.fields_for(:sale_items) { |ff| render 'sales/sale_item_fields', f: ff }