%tr.sale_item_fields.fields
  %td.num
  %td.product
    = f.input_field :item, as: :product, form: 'sale'
    %span.features= f.object.features_presentation
  %td.available_quantity.number
  %td.quantity.number= f.input_field :quantity, class: 'input-small'
  %td.price.number= f.input_field :price, class: 'input-small', disabled: true
  %td.sum.number= f.input_field :sum, class: 'input-small', disabled: true
  %td.actions= link_to_remove_fields f
