- sum_class = ''
- if current_user.any_admin? and f.object.purchase_price.present? and f.object.retail_price.present?
  - if f.object.price.in? f.object.purchase_price..(f.object.retail_price-f.object.available_discount-1)
    - sum_class = 'attention'
  - elsif f.object.price < f.object.purchase_price
    - sum_class = 'warning'
%tr.sale_item_fields{data: {item: f.object.item_id}}
  %td.num.number
  %td.code.number= f.object.code
  %td.product
    %strong= f.object.name
    .features= features_presentation f.object
    = f.hidden_field :item_id
  %td.quantity.number= f.number_field :quantity, class: 'input-mini', type: 'number', min: 1, readonly: f.object.feature_accounting || f.object.is_service
  %td.price.number= human_currency(f.object.price || f.object.retail_price, false)
  = f.hidden_field :discount, class: 'input-small sale_item_discount'
  %td.sum.number{class: sum_class}= human_currency f.object.sum, false