%tr.sale_item_fields{data: {item: f.object.item_id}}
  %td.num.numbera
  %td.code= f.object.code
  %td.product
    %strong= f.object.name
    -#.features= features_presentation f.object
    = f.hidden_field :item_id
  %td.quantity= f.number_field :quantity, class: 'input-mini', type: 'number', min: 1, readonly: f.object.feature_accounting
  %td.price.number= human_currency f.object.retail_price, false
  %td.sum.number= human_currency f.object.sum, false