- if @sales.any?
  - model_class = Sale
  %table.table.table-striped
    %thead
      %tr
        %th= sortable 'id', model_class.human_attribute_name(:id)
        %th= sortable 'date', model_class.human_attribute_name(:date)
        %th= model_class.human_attribute_name :store
        %th= model_class.human_attribute_name :user
        %th= model_class.human_attribute_name :client
        %th= model_class.human_attribute_name :payment_type
        %th= model_class.human_attribute_name :total_sum
        %th
    %tbody
      - @sales.each do |sale|
        %tr
          %td= link_to sale.id, sale
          %td= human_datetime sale.date
          %td= sale.store.name
          %td= link_to sale.user.short_name, user_path(sale.user)
          %td= link_to sale.client.short_name, client_path(sale.client)
          %td= sale.payment_type.name
          %td= human_currency sale.total_sum
          %td.actions.btn-group
            = link_to_show_small sale if can? :read, @sale
            = link_to_edit_small sale if can? :edit, @sale
            = link_to_destroy_small sale if can? :destroy, @sale

  = paginate @sales
