- if can?(:manage, Sale) or params[:search].present?
  - model_class = Sale
  = paginate @sales
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= model_class.human_attribute_name :id
        %th= model_class.human_attribute_name :device
        %th= model_class.human_attribute_name :client
        %th= model_class.human_attribute_name :value
        %th= model_class.human_attribute_name :quantity
        %th= model_class.human_attribute_name :sold_at
        %th= model_class.human_attribute_name :created_at
        %th
    %tbody
      - @sales.each do |sale|
        %tr
          %td= sale.id
          %td
            = sale.device_type_name
            %br
            = [sale.serial_number, sale.imei].join ' | '
          %td
            - if sale.client.present?
              = link_to sale.client.short_name, client_path(sale.client)
              %br
              = sale.client.human_phone_number
          %td= human_currency sale.value
          %td= sale.quantity
          %td= human_datetime sale.sold_at
          %td= human_datetime sale.created_at
          %td
            .btn-group
              = link_to_show_small sale
              = link_to_edit_small sale if can? :edit, Sale
              = link_to_destroy_small sale if can? :destroy, Sale
