= auto_header_tag @sale
= simple_form_for @sale, html: { class: 'form-horizontal' } do |f|
  - if current_user.any_admin?
    = f.input :date, as: :my_datetime
  = f.input :client_id, as: :client, wrapper_html: { id: 'client_fields' }
  = f.association :payment_type
  = f.association :store, collection: Store.for_retail.all
  = hidden_field_tag :price_type_id

  %table#sale_products.table.table-condensed.table-striped.table-bordered
    %caption
      %h4= t 'products.index.title'
    %thead
      %tr
        %th.num
        %th.code= Product.human_attribute_name :code
        %th.product= t 'activerecord.models.product'
        %th= Product.human_attribute_name :available
        %th.quantity= SaleItem.human_attribute_name :quantity
        %th.price= SaleItem.human_attribute_name :price
        %th.discount= Product.human_attribute_name :discount
        %th.sum= SaleItem.human_attribute_name :sum
        %th.actions

    %tbody
      = f.simple_fields_for :sale_items do |ff|
        = render 'sale_item_fields', f: ff

    %tfoot
      %tr
        %td{colspan: 7}= t 'total'
        %td.total_sum.number= @sale.total_sum
        %td

  = link_to_add_fields t('sales.add_product'), '#sale_products>tbody', f, :sale_items

  .form-actions
    = submit_button f
    = button_to_post @sale if @sale.persisted? and can?(:post, @sale)