.page-header
  %h1
    = t '.title'
  = link_to_new Sale, t('sales.new.title')
  -#= button_to t('cash_shifts.close'), close_cash_shift_path(format: :pdf), id: 'close_cash_shift_button', class: 'btn btn-primary', form_class: 'close_cash_shift' if can? :close, CashShift

- if can? :manage, Sale
  .table_filter.navbar.container
    .navbar-inner
      = form_tag sales_path, method: :get, id: 'search_form', class: 'navbar-search form-search', remote: true do

        .input-append
          = text_field_tag :search, params[:search], id: 'search_sale_input', class: 'search-query input-small', placeholder: t('.sale_search_placeholder')
          %span.add-on.btn.clear_search_input
            %i.icon-remove

        = date_filter_fields
        .input-append
          = text_field_tag :client, params[:client], id: 'search_client_input', class: 'search-query input-large', placeholder: t('.client_search_placeholder')
          %span.add-on.btn.clear_search_input
            %i.icon-remove

        .input-append
          = text_field_tag :user, params[:user], id: 'search_user_input', class: 'search-query input-large', placeholder: t('.user_search_placeholder')
          %span.add-on.btn.clear_search_input
            %i.icon-remove

        %button.filter_button.btn.btn-info.btn-small
          %i.icon-filter

  #resource_table
    = render 'table' if can? :read, Sale
