= auto_header_tag

.dl.dl-horizontal
  %p
    %dt= Sale.human_attribute_name :sold_at
    %dd= human_datetime @sale.sold_at
  %p
    %dt= Sale.human_attribute_name :device_type
    %dd= @sale.device_type_name
  %p
    %dt= Sale.human_attribute_name :imei
    %dd= @sale.imei
  %p
    %dt= Sale.human_attribute_name :serial_number
    %dd= @sale.serial_number
  %p
    %dt= Sale.human_attribute_name :value
    %dd= human_currency @sale.value
  %p
    %dt= Sale.human_attribute_name :client
    %dd= @sale.client.present? ? link_to(@sale.client_presentation, client_path(@sale.client)) : '-'
  %p
    %dt= Sale.human_attribute_name :quantity
    %dd= @sale.quantity

.form-actions
  = link_to_edit @sale if can? :edit, @sale
  = link_to_destroy @sale if can? :destroy, @sale