%table.table.table-hover
  %thead
    %tr
      %th= QuickOrder.human_attribute_name(:id)
      %th= QuickOrder.human_attribute_name(:number)
      %th= QuickOrder.human_attribute_name(:client_name)
      %th= QuickOrder.human_attribute_name(:contact_phone)
      %th= QuickOrder.human_attribute_name(:comment)
      %th= QuickOrder.human_attribute_name(:created_at)
      %th
  %tbody
    - @quick_orders.each do |quick_order|
      %tr
        %td= link_to quick_order.id, quick_order_path(quick_order)
        %td= link_to quick_order.number, quick_order_path(quick_order)
        %td= quick_order.client_name
        %td= quick_order.contact_phone
        %td= quick_order.comment
        %td= human_datetime quick_order.created_at
        %td.btn-group
          = link_to_show_small quick_order
          = link_to_destroy_small quick_order

= paginate @quick_orders, remote: true