%table.table.table-hover
  %thead
    %tr
      %th= QuickOrder.human_attribute_name(:number)
      %th= QuickOrder.human_attribute_name(:client)
      %th= QuickOrder.human_attribute_name(:comment)
      %th= QuickOrder.human_attribute_name(:created_at)
      %th
  %tbody
    - @quick_orders.each do |quick_order|
      %tr{class: quick_order.is_done ? 'success' : ''}[quick_order]
        %td= link_to quick_order.number_s, quick_order_path(quick_order)
        %td= link_to_if quick_order.client.present?, quick_order.client_presentation, quick_order.client
        %td= quick_order.comment
        %td= human_datetime quick_order.created_at.localtime
        %td.btn-group
          = link_to_show_small quick_order
          = link_to glyph(:check), set_done_quick_order_path(quick_order), method: :patch, remote: true, class: 'btn btn-small btn-primary' unless quick_order.is_done
          -#= button_to glyph(:check), [:set_done, quick_order], remote: true, class: 'btn btn-small btn-primary' unless quick_order.is_done

= paginate @quick_orders, remote: true