- model_class = QuickOrder
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:number) + ':'
  %br
  = @quick_order.number
%p
  %strong= model_class.human_attribute_name(:client_name) + ':'
  %br
  = @quick_order.client_name
%p
  %strong= model_class.human_attribute_name(:contact_phone) + ':'
  %br
  = @quick_order.contact_phone
%p
  %strong= model_class.human_attribute_name(:comment) + ':'
  %br
  = @quick_order.comment

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), quick_orders_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_quick_order_path(@quick_order), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), quick_order_path(@quick_order), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
