- model_class = QuickOrder
.page-header
  %h1
    = link_back_to_index
    = t 'quick_orders.title', num: @quick_order.number_s

  = link_to glyph(:print) + t('tickets.link'), quick_order_path(@quick_order, format: 'pdf', print: true), class: 'btn btn-primary', target: '_blank'
  = link_to glyph('eye-open') + t('tickets.link'), quick_order_path(@quick_order, format: 'pdf'), class: 'btn btn-info', target: '_blank'

%table.attributes_table
  %tr
    %td= model_class.human_attribute_name(:number)
    %td= @quick_order.number
  %tr
    %td= model_class.human_attribute_name(:client_name)
    %td= @quick_order.client_name
  %tr
    %td= model_class.human_attribute_name(:contact_phone)
    %td= @quick_order.contact_phone
  %tr
    %td= model_class.human_attribute_name(:quick_tasks)
    %td= @quick_order.quick_tasks.map(&:name).join(tag(:br)).html_safe
  %tr
    %td= model_class.human_attribute_name(:comment)
    %td= @quick_order.comment

.form-actions
  = link_to_edit @quick_order
  = link_to t('quick_orders.set_done'), set_done_quick_order_path(@quick_order), method: :put, class: 'btn btn-primary' unless @quick_order.is_done
  = link_to_destroy @quick_order