%table#clients_report.table.table-bordered.table-hover
  %caption= report_title report
  %thead
    %tr
      %th= Client.human_attribute_name :created_at
      %th= t 'activerecord.models.client'
      %th= ServiceJob.model_name.human
  %tbody
    - report.result[:new_clients].each do |client|
      %tr
        %td= human_datetime client[:created_at]
        %td= link_to client[:presentation], client_path(client[:id])
        %td
          - client[:service_jobs].each do |service_job|
            = link_to service_job[:presentation], service_job_path(service_job[:id])
            %br
  %tfoot
    %tr
      %td= t 'total'
      %td{colspan: 2}= "#{report.result[:new_clients_count]} (#{report.result[:clients_count]})"
