%table#defected_spare_parts_report.table.table-bordered.table-hover
  %thead
    %tr
      %th.center Запчасть
      %th.center Количество
      %th.center Закуп
      %th.center Итого
  %tbody
    - report.result[:records].each do |spare_part, data|
      %tr
        %td= spare_part
        %td.number= data[:qty]
        %td.number= human_currency(data[:price])
        %td.number= human_currency(data[:qty] * data[:price])
  %tfoot
    %tr
      %td Итого
      %td.number= report.result[:total_qty]
      %td
      %td.number= human_currency(report.result[:total_sum])
