%table#users_report.table.table-bordered.table-hover
  %caption
    %h4= report_title @report
  %thead
    %tr
      %th.center= t 'activerecord.models.user'
      %th.center= t 'reports.moved'
  %tbody
    - @report.result[:users_mv].each do |user|
      %tr.detailable
        %td.user= user[:user]
        %td.movement= "#{humanize_duration user[:avarage_duration]} (#{user[:qty]})"
      - user[:devices].each do |device|
        %tr.details
          %td.device
            = link_to device[:device_presentation], device_path(device[:device_id])
            %br
            = link_to device[:client_presentation], client_path(device[:client_id])
          %td.movement
            = device[:new_location]
            %br
            = humanize_duration device[:duration]
