%table#device_orders_report.table.table.table-bordered.table-hover
  %caption= report_title report
  %thead
    %tr
      %th= t 'attributes.name'
      %th= t 'attributes.quantity'
  %tbody
    - report.result[:orders].each do |order|
      %tr.order_row
        %td= link_to order[:name], orders_path(object_kind: 'Device', object: order[:name]), target: '_blank'
        %td= order[:quantity]
  %tfoot
    %tr
      %td= t 'reports.total'
      %td= report.result[:orders_count]