%table#users_report.table.table-bordered.table-hover
  %caption= report_title @report
  %thead
    %tr
      %th.center= t 'activerecord.models.user'
      %th.center= t 'reports.moved'
  %tbody
    - @report.result[:users_mv].each do |user|
      %tr.detailable
        %td.user= user[:user]
        %td.movement= "#{humanize_duration user[:avarage_duration]} (#{user[:qty]})"
      - user[:service_jobs].each do |service_job|
        %tr.details
          %td.service_job
            = link_to service_job[:service_job_presentation], service_job_path(service_job[:device_id])
            %br
            = link_to service_job[:client_presentation], client_path(service_job[:client_id])
          %td.movement
            = service_job[:new_location]
            %br
            = humanize_duration service_job[:duration]
