%table#few_remnants_report.table.table-bordered.table-hover
  %caption= report_title @report
  %thead
    %tr
      %th.center{rowspan: 2}= t 'activerecord.models.product'
      %th{colspan: @report.result[:stores].length}= t 'reports.remnants'
    %tr
      - @report.result[:stores].each_value do |store|
        %th.center= store[:name]
  %tbody
    - @report.result[:products].each_pair do |id, product|
      %tr
        %td= link_to "#{product[:code]} | #{product[:name]}" , product_path(id)
        - @report.result[:stores].each_key do |store_id|
          - cell_class = product[:remnants][store_id].present? ? (product[:remnants][store_id] <= 0 ? 'error' : 'warning') : ''
          %td{class: cell_class}= "#{product[:remnants][store_id]} / #{product[:threshold]}" if product[:remnants][store_id].present?