.btn-group
  - 1.upto 9 do |n|
    = link_to n.to_s, '#', data: {depth: n}, class: 'btn btn-small'
%table#remnants_report.table.table-bordered.table-hover
  %caption= report_title @report
  %thead
    %tr
      %th.name.center= t '.name'
      %th.quantity.center= t '.quantity'
      %th.price.center= t '.purchase_price'
      %th.price.center= t '.price'
      %th.sum.center= t '.sum'
  %tbody
    - @report.result[:data].each do |data|
      = remnants_row data