%table#users_report.table.table-bordered.table-hover
  %caption
    %h4= report_title @report
  %thead
    %tr
      %th.center= "#{t('activerecord.models.user')} / #{t('activerecord.models.client')}"
      %th.center= t 'activerecord.models.device'
      %th.center= Sale.human_attribute_name :value
  %tbody
    - @report.result[:sales].each do |user_sales|
      %tr.detailable
        %td.user{colspan: 2}= link_to user_sales[:user][:name], user_path(user_sales[:user][:id])
        %td.sales= "#{human_currency user_sales[:sum]} (#{user_sales[:count]})"
      - user_sales[:sales].each do |sale|
        %tr.details
          %td.client
            = sale[:client].present? ? link_to(sale[:client][:name], client_path(sale[:client][:id])) : '-'
          %td.device
            = link_to sale_path(sale[:id]) do
              = sale[:device_type]
              %br
              %small= [sale[:serial_number], sale[:imei]].join ' | '
          %td.value= human_currency sale[:value]
  %tfoot
    %tr
      %td{colspan: 2}= t 'total'
      %td= "#{human_currency(@report.result[:sales_sum])} (#{@report.result[:sales_count]})"
