%table#sms_notifications_report.table.table-bordered.table-hover
  %caption= report_title report
  %thead
    %tr
      %th.center= t('.sender')
      %th.center= t('.quantity')
  %tbody
    - report.result.each_pair do |_, value|
      %tr.detailable
        %td.name= value[:sender_name]
        %td.number= value[:qty]
      - value[:sms_notifications].each do |sms_notification|
        %tr.details
          %td
            %dt= sms_notification[:phone_number]
            %dd= sms_notification[:message]
          %td= l sms_notification[:sent_at], format: :date_time