%table#tasks_durations_report.table.table-bordered.table-hover
  %caption= report_title report
  %thead
    %tr
      %th= "#{t('activerecord.models.task')} / #{t('activerecord.models.device')}"
      -#%th= t '.task_service_job'
      %th= t 'reports.duration'
  %tbody
    - report.result[:tasks_durations].each do |task|
      %tr.task_row.detailable
        %td.task= task[:task_name]
        %td.duration= "#{humanize_duration(task[:average_duration])} (#{task[:device_tasks].count})"
      - task[:device_tasks].each do |device_task|
        %tr.device_task_row.details
          %td.task
            = link_to device_task[:service_job], service_job_path(device_task[:service_job_id])
            %br
            %small= "#{ServiceJob.human_attribute_name(:location)}: #{device_task[:device_location]}"
          %td.duration
            = humanize_duration device_task[:duration]
            %br
            %small= "#{t('reports.moved_at')}: #{l device_task[:moved_at], format: :long_d} #{device_task[:moved_by]}"
            %br
            %small= "#{t('reports.done_at')}: #{l device_task[:done_at], format: :long_d} #{device_task[:done_by]}"
