%table#tasks_undone_report.table.table-bordered.table-hover
  %caption= report_title @report
  %thead
    %tr
      %th.center= t '.tasks_devices'
      %th.center= t '.quantity_comment'
  %tbody
    - @report.result.each_pair do |task_id, task_value|
      %tr.detailable
        %td.task= task_value[:name]
        %td.quantity.number= task_value[:tasks_qty]
      - task_value[:tasks].each do |task_data|
        %tr.details
          %td.service_job= link_to task_data[:service_job], service_job_path(task_data[:service_job_id]), target: '_blank'
          %td.comment
            %p.text-info= task_data[:comment]
            %p.text-error= task_data[:user_comment]