%table#repair_jobs_report.table.table-bordered.table-hover
  %caption= report_title report
  %thead
    %tr
      %th.center= t '.user'
      %th.center= t '.quantity'
      %th.center= t '.sum'
  %tbody
    - report.result[:data].each_pair do |key, value|
      %tr.detailable
        %td.name= key.to_i.present? ? link_to(value[:name], user_path(key), target: '_blank') : '-'
        %td.number= value[:jobs_qty]
        %td.price.number= human_currency value[:jobs_sum], false
      - value[:jobs].each do |job|
        %tr.details
          %td.name= job[:name]
          %td= link_to job[:service_job_presentation], service_job_path(job[:device_id]), target: '_blank'
          %td.number.job_price
            = human_currency job[:margin], false
            %small= "Job Price: #{human_currency(job[:price], false)}"
            %small= "Parts Cost: #{human_currency(job[:parts_cost], false)}"
  %tfoot
    %tr
      %td{colspan: 2} Итого
      %td.number= human_currency(report.result[:total_sum], false)
