%table#users_report.table.table-bordered.table-hover
  %caption= t '.title'
  %thead
    %tr
      %th.center{rowspan: 2}
      %th.center{rowspan: 2} Быстрые
      %th.center{rowspan: 2} Длинные
      %th.center{colspan: 2} Бесплатный сервис
  %tbody
    - report.result[:users].each do |user|
      %tr.task_row.detailable
        %td= user[:user_name]
        %td= user[:counts][:fast]
        %td= user[:counts][:long]
        %td= user[:counts][:free]
      - user[:dates].each do |date, jobs|
        %tr.service_job_row.details
          %td= date
          %td= jobs[:fast].size
          %td= jobs[:long].size
          %td= jobs[:free].size
        %tr.service_job_row.details
          %td
          %td
            - jobs[:fast].each do |job|
              %span
                =link_to job[:time], quick_order_path(job[:item]), target: "_blank"
          %td
            - jobs[:long].each do |job|
              %span
                =link_to job[:time], service_job_path(job[:item]), target: "_blank"
          %td
            - jobs[:free].each do |job|
              %span
                =link_to job[:time], service_free_job_path(job[:item]), target: "_blank"
