%table#users_report.table.table-bordered.table-hover
  %caption= t '.title'
  %thead
    %tr
      %th.center{rowspan: 2}= ServiceJob.human_attribute_name :user
      %th.center{rowspan: 2}= t('reports.received')
      %th.center{colspan: 2}= t('reports.includes')
    %tr
      %th.center= t('reports.received_done')
      %th.center= t('reports.received_archived')
  %tbody
    - report.result[:users].each do |user|
      %tr.detailable
        %td= user[:name]
        %td= user[:qty]
        %td= user[:qty_done]
        %td= user[:qty_archived]
      - user[:service_jobs].each do |service_job|
        - service_job = service_job.decorate
        %tr.details
          %td
            = service_job.presentation_link
            %br
            = service_job.client_presentation_link
          %td= l service_job.created_at.to_datetime, format: :long_d
          %td= icon_tag(:ok) if service_job.at_done?
          %td= icon_tag(:ok) if service_job.in_archive?
  %tfoot
    %tr
      %td= t('reports.total')
      %td= report.result[:service_jobs_received_count]
      %td= report.result[:service_jobs_received_done_count]
      %td= report.result[:service_jobs_received_archived_count]
