.page-header
  #reports_filter.navbar.container
    .navbar-inner
      = form_for @report, remote: false, html: { id: 'report_form', class: 'navbar-search form-search' } do |f|
        = button_tag glyph(:filter), class: 'btn btn-info', type: 'submit'
        = f.text_field :start_date, class: 'bootstrap-datepicker input-small'
        = '_'
        = f.text_field :end_date, class: 'bootstrap-datepicker input-small'
        = f.select :name, reports_collection_for_select, prompt: t('reports.choose')
        = f.select :store_id, Store.visible.map{ |s| [s.name, s.id] }, prompt: t('activerecord.models.store')

- if @report.errors.present?
  #report_errors
    - @report.errors.full_messages.each do |message|
      %p= message

- elsif @report.result.present?
  #report_result= render "reports/#{@report.name}"
