- service_job = @service_job.decorate
!!!
%html{style: "font-family:'Helvetica-Neue', 'Helvetica', sans-serif;"}
  %head
    %meta(http-equiv="Content-Type" content="text/html;charset=utf-8")

  %body
    %h4= service_job.presentation

    %p
      %strong= t 'service_jobs.received'
      = service_job.creation_date

    %p
      %strong= ServiceJob.human_attribute_name :ticket_number
      = service_job.ticket_number

    %p
      %strong= ServiceJob.human_attribute_name :client
      = service_job.client_presentation

    %p
      %strong= ServiceJob.human_attribute_name :comment
      = service_job.comment

    %table
      %caption
        %h4= ServiceJob.human_attribute_name :tasks
      %thead
        %tr
          %th= Task.human_attribute_name :name
          %th= DeviceTask.human_attribute_name :comment
          %th= DeviceTask.human_attribute_name :user_comment
          %th= DeviceTask.human_attribute_name :cost
          %th= DeviceTask.human_attribute_name :done_at
          %th= DeviceTask.human_attribute_name :created_at
      %tbody
        - service_job.device_tasks.ordered.each do |device_task|
          %tr
            %td= device_task.task_name
            %td= h device_task.comment
            %td
              %strong= h device_task.user_comment
            %td= device_task.cost
            %td= l device_task.done_at, format: :date_time unless device_task.done_at.blank?
            %td= l device_task.created_at, format: :date_time
      %tfoot
        %tr
          %td{colspan: 3}= t 'total'
          %td= service_job.tasks_cost
          %td{colspan: 4}
