= simple_form_for @location, html: { class: 'form-horizontal' } do |f|

  = f.input :schedule
  = f.input :name, autofocus: true

  #parent
    = choose_location_for f

  .form-actions
    = submit_button f
