- if @locations.any?
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= Location.human_attribute_name :id
        %th= Location.human_attribute_name :name
        %th= Location.human_attribute_name :code
        %th= Location.human_attribute_name :position
        %th= Location.human_attribute_name :department
        %th= Location.human_attribute_name :created_at
        %th
    %tbody
      - @locations.each do |location|
        %tr
          %td= location.id
          %td= location.name
          %td= location.code
          %td= location.position
          %td= location.department_name
          %td= human_datetime location.created_at
          %td
            .btn-group
              = link_to_edit_small location
              = link_to_destroy_small location

- else
  = render 'shared/empty'