= auto_header_tag
= simple_form_for @location, html: { class: 'form-horizontal' } do |f|

  = f.input :schedule
  = f.input :name, autofocus: true
  = f.input :code
  = f.input :position

  .form-actions
    = submit_button f
