<%= auto_header_tag %>

<%= simple_form_for @location, html: { class: 'form-horizontal' } do |f| %>
  <%= f.association :department %>
  <%= f.input :schedule %>
  <%= f.input :name, autofocus: true %>
  <%= f.input :code, collection: Location::CODES %>
  <%= f.input :position %>
  <%= f.input :hidden %>
  <%= f.input :storage_term, as: :radio_buttons, collection: [['3 месяца', 3], ['год', 12], ['больше года', 88]] %>

  <div class="form-actions">
    <%= submit_button f %>
  </div>
<% end %>
