= auto_header_tag
= simple_form_for @location, html: { class: 'form-horizontal' } do |f|

  = f.association :department
  = f.input :schedule
  = f.input :name, autofocus: true
  = f.input :code
  = f.input :position
  = f.input :hidden
  = f.input :storage_term, as: :radio_buttons, collection: [['нет', nil], ['3 месяца', 3], ['год', 12]]

  .form-actions
    = submit_button f
