= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
%table.table.table-striped.table-hover
  %thead
    %tr
      %th= sortable 'title', Info.human_attribute_name(:title)
      %th= sortable 'created_at', Info.human_attribute_name(:created_at)
  %tbody
    - @infos.each do |info|
      %tr{class: info_row_class(info)}
        %td= link_to info.title, info_path(info)
        %td= human_datetime info.created_at

= paginate @infos
