.page-header
  %h1
    = link_back_to_index
    = @info.title
    %small.muted= "[#{human_datetime @info.created_at}]"

= @info.content.html_safe

- if can? :manage, Info
  .form-actions
    = link_to_edit @info
    = link_to_destroy @info
