= content_for :header do
  #navbar.navbar.navbar-static-top
    .navbar-inner
      .container-fluid
        = link_to image_tag('logo.png'), root_path, class: 'brand'
        %ul.nav
          %li{class: nav_state_for('messages') + ' nav_chat'}= link_to t('chat.title'), messages_path
          %li{class: nav_state_for('wiki_pages')}= link_to t("wiki.link"), wiki_all_path if can? :read, WikiPage
          %li{class: nav_state_for('devices')}= link_to t('devices.link', default: 'Devices'), devices_path
          %li{class: nav_state_for('clients')}= link_to t('clients.link', default: 'Clients'), clients_path
          %li{class: nav_state_for('device_types')}
            = link_to t('device_types.link', default: 'Device types'), device_types_path if can? :manage, DeviceType
          %li{class: nav_state_for('users')}= link_to t('users.link', default: 'Users'), users_path if can? :manage, User
          %li{class: nav_state_for('infos')}= link_to t('infos.link', default: 'Infos'), infos_path if can? :read, Info
          %li{class: nav_state_for('orders')}= link_to t('orders.link', default: 'Orders'), orders_path if can? :read, Order
          - if can? :manage, Price
            = header_link_to_edit_prices
          - else
            = header_link_to_view_prices
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
              = t('dashboard.misc')
              = caret_tag
            %ul.dropdown-menu
              %li{class: nav_state_for('gift_certificates')}
                = link_to t('gift_certificates.link'), gift_certificates_path if can? :manage, GiftCertificate
              %li{class: nav_state_for('tasks')}= link_to t('tasks.link', default: 'Tasks'), tasks_path if can? :manage, Task
              %li{class: nav_state_for('locations')}= link_to t('locations.link', default: 'Locations'), locations_path if can? :manage, Location
              %li{class: nav_state_for('stolen_phones')}= link_to t('stolen_phones.link', default: 'Black list'), stolen_phones_path
              %li{class: nav_state_for('sales')}= link_to t('sales.link', default: 'Sold devices'), sales_path
              %li{class: nav_state_for('announcements')}
                = link_to t('announcements.link', default: 'Announcements'), announcements_path if current_user.admin?
        %ul.nav.pull-right
          = header_link_for_coffee
          = header_link_to_announce
          %li= profile_link
          - if Rails.env.development?
            %li.dropdown
              = link_to caret_tag, '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'
              %ul.dropdown-menu
                - User.all.map do |user|
                  %li= link_to user.username, become_path(user)
          %li= link_to icon_tag(:lock), destroy_user_session_path, method: :delete, remote: true, id: 'lock_session'
          %li= link_to icon_tag(:signout), destroy_user_session_path, method: :delete
