= content_for :header do
  #current_user_row
    %span.user_name= profile_link
    - if current_user.department.present?
      %span.user_department= "[#{current_user.department.name}]"
    - unless current_user.any_admin?
      %span= link_to karma_tag(current_user), rating_users_path
    = duck_plan_tag

  = nav_bar static: :top, brand: image_tag('logo.png'), responsive: true, fluid: true do
    = menu_group do
      = menu_item t('chat.title'), messages_path, class: 'nav_chat'
      - if can? :read, WikiPage
        = menu_item t("wiki.link"), wiki_all_path
      = menu_item t('devices.link', default: 'Devices'), devices_path
      = menu_item t('clients.link', default: 'Clients'), clients_path
      = menu_item t('products.index.title'), products_path if can? :read, Product
      = menu_item t('orders.link', default: 'Orders'), orders_path if can? :read, Order
      = menu_item t('infos.link', default: 'Infos'), infos_path if can? :read, Info
      - if can? :manage, Price
        = menu_item t('prices.link', default: 'Prices'), prices_path
      - else
        = header_link_to_view_prices

      = drop_down t('navbar.cash_drawer') do
        = menu_item t('sales.new.title'), new_sale_path if can? :create, Sale
        = drop_down_divider
        = menu_item t('cash_operations.cash_in'), new_cash_operation_path(cash_operation: {is_out: false}), remote: true if can? :create, CashOperation
        = menu_item t('cash_operations.cash_out'), new_cash_operation_path(cash_operation: {is_out: true}), remote: true if can? :create, CashOperation

      = drop_down t('dashboard.misc') do
        = menu_item t('purchases.link'), purchases_path if can? :manage, Purchase
        = menu_item t('sales.link'), sales_path if can? :manage, Sale
        = menu_item t('revaluation_acts.index.title'), revaluation_acts_path if can? :manage, RevaluationAct
        - if can? :manage, MovementAct
          = menu_item t('movement_acts.link'), movement_acts_path
        - elsif can? :make_defect_sp, MovementAct
          = menu_item t('movement_acts.defect_link'), make_defect_sp_movement_acts_path
        = drop_down_submenu t 'dashboard.references' do
          = menu_item t('repair_services.index.title'), repair_services_path if can? :read, RepairService
          = menu_item t('product_categories.index.title'), product_categories_path if can? :manage, ProductCategory
          = menu_item t('top_salables.index.title'), top_salables_path if can? :manage, TopSalable
          = menu_item t('contractors.link'), contractors_path if can? :manage, Contractor
          = menu_item t('feature_types.index.title'), feature_types_path if can? :manage, FeatureType
          = menu_item t('banks.index.title'), banks_path if can? :manage, Bank
          = menu_item t('stores.index.title'), stores_path if can? :manage, Store
          = menu_item t('locations.link'), locations_path if can? :manage, Location
          = menu_item t('cash_drawers.link'), cash_drawers_path if can? :manage, CashDrawer
          = menu_item t('departments.link'), departments_path if can? :manage, Department
        = drop_down_divider
        = menu_item t('users.link', default: 'Users'), users_path if can? :manage, User
        = menu_item t('users.rating'), rating_users_path
        - if can? :manage, User
          = menu_item t('users.schedule'), schedule_users_path
        - if can? :manage, TimesheetDay
          = menu_item t('users.timesheet'), timesheet_days_path
        = menu_item t('salaries.index.title'), salaries_path if can? :manage, Salary
        = menu_item t('announcements.link'), announcements_path if current_user.any_admin?
        = drop_down_divider
        = menu_item t('gift_certificates.link'), gift_certificates_path
        = menu_item t('stolen_phones.link'), stolen_phones_path
        = menu_item t('device_types.link', default: 'Device types'), device_types_path if can? :manage, DeviceType
        = drop_down_divider
        = menu_item t('bonus_types.index.title'), bonus_types_path if can? :manage, BonusType
        = menu_item t('client_categories.index.title'), client_categories_path if can? :manage, ClientCategory
        = menu_item t('tasks.link'), tasks_path if can? :manage, Task
        = menu_item t('locations.link'), locations_path if can? :manage, Location
        = menu_item t('discounts.link'), discounts_path
        = menu_item t('settings.link'), settings_path if can? :manage, Setting

    = menu_group pull: :right do
      = header_link_to_scan_barcode
      = header_link_for_device_returning
      = header_link_for_coffee
      = header_link_to_announce
      = header_link_to_salaries if can? :manage, Salary
      = header_karma_button if can? :manage, Karma
      = menu_item icon_tag(:lock), destroy_user_session_path, method: :delete, remote: true, id: 'lock_session'
      = header_link_to_change_user if Rails.env.development?
      = menu_item icon_tag(:signout), destroy_user_session_path, method: :delete
