= content_for :header do
  #current_user_row
    %span.user_name= profile_link
    - unless current_user.any_admin?
      %span= link_to karma_tag(current_user), rating_users_path

  #navbar.navbar.navbar-static-top
    .navbar-inner
      .container-fluid
        = link_to image_tag('logo.png'), root_path, class: 'brand'
        %ul.nav
          %li{class: nav_state_for('messages') + ' nav_chat'}= link_to t('chat.title'), messages_path
          %li{class: nav_state_for('wiki_pages')}= link_to t("wiki.link"), wiki_all_path if can? :read, WikiPage
          %li{class: nav_state_for('devices')}= link_to t('devices.link', default: 'Devices'), devices_path
          %li{class: nav_state_for('clients')}= link_to t('clients.link', default: 'Clients'), clients_path
          %li{class: nav_state_for('users')}= link_to t('users.link', default: 'Users'), users_path if can? :manage, User
          %li{class: nav_state_for('infos')}= link_to t('infos.link', default: 'Infos'), infos_path if can? :read, Info
          %li{class: nav_state_for('orders')}= link_to t('orders.link', default: 'Orders'), orders_path if can? :read, Order
          - if can? :manage, Price
            = header_link_to_edit_prices
          - else
            = header_link_to_view_prices
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
              = t('dashboard.misc')
              = caret_tag
            %ul.dropdown-menu
              %li= link_to t('users.rating'), rating_users_path
              - if can? :manage, User
                %li= link_to t('users.schedule'), schedule_users_path
              - if can? :manage, TimesheetDay
                %li= link_to t('users.timesheet'), timesheet_days_path
              - if can? :create, SupplyRequest
                %li= link_to t('supply_requests.index.title'), supply_requests_path
              %li= link_to t('salaries.index.title'), salaries_path if can? :manage, Salary
              %li= link_to t('announcements.link'), announcements_path if current_user.any_admin?
              %li.divider
              %li= link_to t('gift_certificates.link'), gift_certificates_path
              %li= link_to t('sales.link'), sales_path
              %li= link_to t('stolen_phones.link'), stolen_phones_path
              %li{class: nav_state_for('device_types')}= link_to t('device_types.link', default: 'Device types'), device_types_path if can? :manage, DeviceType
              %li.divider
              %li= link_to t('bonus_types.index.title'), bonus_types_path if can? :manage, BonusType
              %li= link_to t('client_categories.index.title'), client_categories_path if can? :manage, ClientCategory
              %li= link_to t('tasks.link'), tasks_path if can? :manage, Task
              %li= link_to t('locations.link'), locations_path if can? :manage, Location
              %li= link_to t('discounts.link'), discounts_path
              %li= link_to t('settings.link'), settings_path if can? :manage, Setting
        %ul.nav.pull-right
          = header_link_to_scan_barcode
          = header_link_for_device_returning
          = header_link_for_coffee
          = header_link_to_announce
          = header_link_to_salaries if can? :manage, Salary
          = header_karma_button if can? :manage, Karma
          %li= link_to icon_tag(:lock), destroy_user_session_path, method: :delete, remote: true, id: 'lock_session'
          = header_link_to_change_user if Rails.env.development?
          %li= link_to icon_tag(:signout), destroy_user_session_path, method: :delete
