= content_for :header do
  #navbar.navbar.navbar-static-top
    .navbar-inner
      .container-fluid
        = link_to "iTech Service", root_path, class: 'brand'
        %ul.nav
          %li{class: nav_state_for('devices')}= link_to t('devices'), devices_path
          %li{class: nav_state_for('clients')}= link_to t('clients'), clients_path
          %li{class: nav_state_for('device_types')}= link_to t('device_types'), device_types_path if can? :manage, DeviceType
          %li{class: nav_state_for('users')}= link_to t('users'), users_path if can? :manage, User
          %li{class: nav_state_for('infos')}= link_to t('infos'), infos_path if can? :read, Info
          %li{class: nav_state_for('orders')}= link_to t('orders'), orders_path if can? :read, Order
          %li{class: nav_state_for('stolen_phones')}= link_to t('black_list'), stolen_phones_path
          - if can? :manage, Price
            = header_link_to_edit_prices
          - else
            = header_link_to_view_prices
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
              = t('dashboard.params')
              = caret_tag
            %ul.dropdown-menu
              %li{class: nav_state_for('tasks')}= link_to t('tasks'), tasks_path if can? :manage, Task
              %li{class: nav_state_for('locations')}= link_to t('locations'), locations_path if can? :manage, Location
        %ul.nav.pull-right
          = header_link_to_help if current_user.helpable?
          %li= profile_link
          - if Rails.env.development?
            %li.dropdown
              = link_to caret_tag, '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'
              %ul.dropdown-menu
                - User.all.map do |user|
                  %li= link_to user.username, become_path(user)
          %li
            = link_to destroy_user_session_path, method: :delete do
              %i.icon-signout
