<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
  <link rel="shortcut icon" href="images/favicon.ico">
  <%= favicon_link_tag 'logo2.png' %>

  <title>iTech Service</title>

  <%= stylesheet_link_tag 'auth', media: 'all' %>
  <%= javascript_include_tag 'auth' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="modal" class="modal large hide fade"></div>
  <%= yield %>
  <div id="card_sign_in" class="modal-backdrop fade"></div>
</body>
</html>
