- unless devise_controller?
  = render 'layouts/header'
  = render 'layouts/info'
  = render 'layouts/announcements'
  = render 'layouts/new_device_popup'
= render template: 'layouts/application'
= subscribe_to '/announcements'
= subscribe_to '/devices/new'
