- unless devise_controller?
  = render 'layouts/header'
  = render 'layouts/info'
  = render 'layouts/announcements'
  = render 'layouts/new_device_popup'
  = render 'layouts/footer'
= render template: 'layouts/application'
= subscribe_to '/announcements'
= subscribe_to '/devices/new'
= subscribe_to '/devices/update'
-#= subscribe_to '/devices/returning_alert'
= subscribe_to '/chat/new'
