- unless devise_controller?
  = render 'layouts/header'
  = content_for :notifications do
    #notifications
      #notifications_handle
        #hide_notifications_button
          = glyph('chevron-down')
          .indicator
        = link_to '&times;'.html_safe, close_all_announcements_path, method: :post, remote: true, id: 'close_all_announcements_link', rel: 'tooltip', data: { title: t('announcements.close_all'), placement: 'left' }
      #duty_announcement= duty_info_tag if current_user.is_duty_today?
      -##important_info
      -##personal_infos
      -##announcements
  = content_for :new_device_popup do
    -##new_device_popup
      -#= link_to root_path do
      -#  = image_tag 'duck.png', size: '150x150'
      -#.popup
      -#  .arrow
      -#  .inner
      -#    %h3.title= link_to t('dashboard.new_device_message'), root_path

= render template: 'layouts/application'
- unless devise_controller?
  = subscribe_to '/announcements'
  = subscribe_to '/devices/new'
  = subscribe_to '/devices/update'
  = subscribe_to '/chat/new'